[2019-06-03 08:12] sushilshinde opened #35 "$115 | New Nav - Need be always expanded when you navigate between pages."
**Describe the bug**

"Challenges" navigation not working from the dashboard

**To Reproduce**

Steps to reproduce the behavior:
1. Go to `https://test-community-app.topcoder-dev.com/challenges`
2. The content area needs more margin.
3. Compare it with
https://test-community-app.topcoder-dev.com/settings/profile
https://test-community-app.topcoder-dev.com/my-dashboard

**Expected behavior**

The r

[2019-06-03 10:47] sushilshinde opened #13 "$40 | New Nav - Mobile View UI Issues"
Original Spec : https://marvelapp.com/1dgiejg6/screen/54473669

1. Logo not in the center

![not-in-the center](https://user-images.githubusercontent.com/683231/58796325-9cd53180-861a-11e9-974a-e1709be7ccb8.png)

2. Horizontal divider not aligned with text, also there is no `X` button to close the popup

![Screenshot_20190603-160049](https://user-images.githubusercontent.com/683231/58796495-0b19f4

[2019-06-03 22:01] vic-tian opened #25 "$30 | Navigation section page and second level nav structure"
**Describe the bug**
When a section is selected in the first-level navigation (a section has its own second-level navigation), the main page of the section should be listed and selected in the second-level navigation.

**To Reproduce**

- Select a section;
- A page is loaded, and and the first second level item appears selected (bold, underlined).
- Click on the selected item
- A new page is loade

[2019-06-07 17:57] alexandreeva opened #12 "$20 | Hover state is not displayed"
**Reproduction Steps**
1. Open the test URL and log in
2. Click on Work
3. Click on Compete
4. Hover over Competitive programming
5. Click on Tracks
6. Hover over the opened menu items

**Expected results**
When the user hovers over a menu items, the hover over state is displayed

**Actual results**
When the user hovers over a menu items, the hover over state is not displayed

**Screenshot**
![scr

[2019-06-07 18:01] codejamtc opened #11 "$15 | All Sub menus> Sub-menu has an item after the menu name"
![image](https://user-images.githubusercontent.com/42398485/59124052-4d497b00-8924-11e9-8f48-a7059363951b.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Work > Tracks

**Actual:** Sub-menu should not display that extra item

**Reproducibility Rate:** 3/3

**Environment:** Pixel XL, Android 9

**Browser:** Chrome 75.0.377

[2019-06-07 18:03] codejamtc opened #10 "$20 | Short bio UI issue"
![image](https://user-images.githubusercontent.com/42398485/59124174-9ef20580-8924-11e9-8f28-cd0bc7ae4a19.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Profile icon

**Actual:** Short bio UI issue

**Expected:** Short Bio should display on a single line

**Reproducibility Rate:** 3/3

**Environment:** Pixel XL, Android

[2019-06-07 18:19] alexandreeva opened #6 "$40 | No switch to business option on mobile web"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on the user drop down menu at the top right corner
3. Observe

**Expected result:**
There is an option to switch to business in the user menu on mobile web, like there is on desktop

**Actual result:**
There is no switch to business option on mobile web

**Frequency:**
5/5

**Device/Browser/OS:**

Device: Axon ZTE A20170

OS: Androi

[2019-06-07 18:29] codejamtc opened #18 "$30 | Top part of the page is hidden by the sub menu"
![image](https://user-images.githubusercontent.com/42398485/59125553-46bd0280-8928-11e9-860a-202e819fb87e.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Tap Menu > Work > Compete

**Actual:** Top part of the page is hidden by the sub menu

**Expected:** Should display the content below the sub menu

**Reproducibility Rate:** 3/3

*

[2019-06-07 18:42] codejamtc opened #97 "$15 | Arrow is not focused below the Work menu"
![image](https://user-images.githubusercontent.com/42398485/59126209-1c6c4480-892a-11e9-93b1-48495faa0a85.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Click Menu > Work

**Actual:** Arrow is not focused below the Work menu

**Expected:** Arrow should display below the work menu

**Reproducibility Rate:** 3/3

**Environment:** HP

[2019-06-07 19:02] codejamtc opened #30 "$30 | Below page position is also changing when scrolling through the profile menu"
![image](https://user-images.githubusercontent.com/42398485/59127294-e5e3f900-892c-11e9-960b-2a97eeda8550.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Portrait)
3. Tap Menu > Work > Tracks
4. Click Menu > Profile > scroll the items
5. Click close
6. Check the page position

**Actual:** Below page position is also changing when scro

[2019-06-07 19:17] coderkid19 opened #130 "$10 | [Windows][Chrome] Mouse hand clickable got enabled when hover in empty space between profile icon and next bar"
**Describe the bug**
Mouse hand clickable got enabled when hover mouse in empty space between profile icon and next bar

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with dan_developer
3. Hove mouse  in empty space between profile icon and next bar
5. Mouse changed to hand clickable.
6. Upon click nothing happens

**Expec

[2019-06-07 19:21] codejamtc opened #98 "$25 | User menu popup window is opened by default when user switches the orientation"
1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Portrait)
3. Tap Menu > Profile
4. Go to Landscape (No User menu popup window displayed)
5. Tap Menu > Profile
6. Go to Portrait (User menu popup window displayed)
7. Close the notification
8. Go to Landscape (User menu popup window displayed)

**Actual:** User menu popup window is opened by d

[2019-06-07 19:32] coderkid19 opened #131 "$25 | Mobile menu keep showing when resize window to Desktop view"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://test-community-app.topcoder-dev.com/challenges
2. Login with dan_developer
3. Click on navigation tab "Tracks"
4. Sub menu displayed.
5. Now, decrease browser window size, Navigation option changed similar to mobile view.
6. Maximize from here.
7. Navigation t

[2019-06-07 19:57] codejamtc opened #16 "$10 | Username cut off from the top"
![image](https://user-images.githubusercontent.com/42398485/59130269-96a1c680-8934-11e9-8727-b18d59c5fab8.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Profile

**Actual:** Username cut off from the top

**Expected:** Should have some spacing from the above

**Reproducibility Rate:** 3/3

**Environment:** iP

[2019-06-07 20:14] alexandreeva opened #133 "$15 | Unable to close the drop down user menu by clicking on the screen in IE11"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on the drop down user menu at the top right corner
3. Click anywhere on the screen to try and close it

**Expected result:**
The user is able to close the drop down user menu by clicking anywhere on the screen

**Actual result:**
The user is not able to close the drop down user menu by clicking anywhere on the screen in IE11 unlike

[2019-06-07 20:26] codejamtc opened #134 "$20 | More drop down is still open when we access the work menu again"
https://www.screencast.com/t/F0fyNsBSrqC

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work > More
4. Tap on the topcoder logo will go to the main page (Challenges)
5. Tap Menu > Work

**Actual:** More drop down is still open when we access the work menu again

**Expected:** More menu options should be collapsed

[2019-06-07 20:30] codejamtc opened #9 "$50 | More option is not closing when user tap on other menus"
https://www.screencast.com/t/0Pygiruagy

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work > More
4. Tap on the Track or Compete menu

**Actual:** More option is not closing when user tap on other menus

**Expected:** More menu options should close when the user tries to tap on another menu

**Reproducibility Rat

[2019-06-07 20:58] VanitaW opened #54 "Profile Menu Does Not Display The Correct Items in Mobile View"
**Describe the bug**
The profile menu is not display the item defined in the requirements.

**To Reproduce**
Steps to reproduce the behavior:
1. Open safari browser on iOS mobile device.
2.  Go to https://test-community-app.topcoder-dev.com/challenges .
2. Click on 'Login'
3. Sign in using username: dan_developer password: dantopcoder123 . If you are redirected to  to the Topcoder live site, go to

[2019-06-07 23:39] alexandreeva opened #102 "$50 | Topcoder main page is displayed after logging in"
**Reproduction steps:**
prereq.: the user is logged out

1. Open the test URL
2. Click LOGIN at the top right corner
3. Enter the credentials and proceed
4. Observe

**Expected result:**
The user stays on the challenges page after logging in

**Actual result:**
The user is redirected to topcoder home page after logging in

**Frequency:**
5/5

**Device/Browser/OS:**

Device: iPad (5th generation)

[2019-06-08 01:51] alexandreeva opened #135 "$15 | Drop down More menu appears at 175% zoom while Community appears at 200%"
**Reproduction steps:**

1. Open the test URL and log in
2. Click on 'Work' > Community
3. Zoom in 175%
4. Observe the menu items in the header
5. Zoom in 200%
6. Observe the items in the header

**Expected result:**
Community menu item appears at 175% because there is enough space in the header for it. Or More drop down menu appears at both 175% and 200%

**Actual result:**
Drop down More menu ap

[2019-06-08 11:27] Jacob15 opened #103 "$10 | After selecting Logo dropdown the cursor is turning to hand symbol"
**Describe the bug**
After selecting the profile dropdown the cursor is turning to hand symbol when focussed outwards.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://test-community-app.topcoder-dev.com/challenges?'
2. Click on Login.
3. Enter Username and Password.
4. Click login.
5. Click on Profile logo. Profile menu appears.
6. Move the cursor outside of Profile menu.
7. T

[2019-06-08 15:30] codejamtc opened #136 "$15 | Clicking on the menu separator will open the menu"
![image](https://user-images.githubusercontent.com/42398485/59149216-5e53c400-89d8-11e9-8030-17410390b171.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Click on menu separator

**Actual:** Clicking on the menu separator will open the menu

**Expected:** Clicking on the menu separator should not open the menu

**Environment:** HP P

[2019-06-09 04:19] alexandreeva opened #126 "$15 | dark mode displayed in mobile web but light mode on desktop"
**Reproduction steps:**

1. Open the test URL on desktop and log in
2. Click on 'Work' > 'Community'
3. Observe the mode (whether light or dark) of the second level menu
4. Open the test URL in mobile web and log in
5. Open the hamburger menu > 'Work' > 'Community'
6. Repeat step 3

**Expected result:**
If the light mode is shown on desktop, the light mode is displayed on mobile web too

**Actual

[2019-06-12 17:01] luizrrodrigues commented on #6
@nahidshahin Thanks.

[2019-06-13 07:40] #6 closed

[2019-06-13 16:45] luizrrodrigues commented on #10
@PrakashDurlabhji Please check PR #8 feedback

[2019-06-13 17:06] PrakashDurlabhji commented on #10
@luizrrodrigues PR updated

[2019-06-13 18:31] luizrrodrigues commented on #13
@rashmi73 Please check feedback in PR #2

[2019-06-13 18:39] luizrrodrigues commented on #10
@PrakashDurlabhji Thanks, you getting any error when run `npm run build`?
What version of nodejs you're using?

[2019-06-13 18:50] rashmi73 commented on #13
@luizrrodrigues updated

[2019-06-13 20:07] #10 closed

[2019-06-13 20:11] luizrrodrigues commented on #10
@PrakashDurlabhji What's your TopCoder handle?

[2019-06-13 20:16] PrakashDurlabhji commented on #10
@luizrrodrigues Pkdurlabhji

[2019-06-13 20:51] luizrrodrigues commented on #13
@rashmi73

Logo: Looks good

Profile menu: Items need be aligned with green line.
Check:
![image](https://user-images.githubusercontent.com/7029641/59466462-ca349300-8e03-11e9-8c70-6248eac3454e.png)

[2019-06-13 21:06] rashmi73 commented on #13
@luizrrodrigues confuse how much is to be aligned? can you please notify with green markers how it is to be made on above screenshot?

[2019-06-13 21:09] luizrrodrigues commented on #13
@rashmi73 Need consistent alignment with **Work** menu:
https://marvelapp.com/89423f8/screen/54595272/handoff

![image](https://user-images.githubusercontent.com/7029641/59467571-65c70300-8e06-11e9-82ae-b8e0b02cae94.png)

[2019-06-13 21:13] rashmi73 commented on #13
@luizrrodrigues you mean to say

1. "My Dashboard" text is not in same line logo?

2. so left of logo and "My Dashboard" should have equal space to the left?

[2019-06-13 21:19] luizrrodrigues commented on #13
@rashmi73 check image bellow, this was shared before. What is not aligned is the dividers, text have right alignment.

![](https://user-images.githubusercontent.com/683231/58796495-0b19f400-861b-11e9-81e3-5206b8af2f6d.png)

What I see in your submission:
![image](https://user-images.githubusercontent.com/7029641/59468073-93f91280-8e07-11e9-8291-d9de31788217.png)

[2019-06-13 21:24] rashmi73 commented on #13
@luizrrodrigues need like this?

https://marvelapp.com/89423f8/screen/55812232

[2019-06-13 21:28] luizrrodrigues commented on #13
@rashmi73 Yes.

[2019-06-14 02:34] luizrrodrigues commented on #9
@nahidshahin Please check feedback in PR #7

[2019-06-14 11:02] nahidshahin commented on #9
@luizrrodrigues here is the 2nd PR on community-app https://github.com/topcoder-platform/community-app/pull/2624

[2019-06-14 11:04] nahidshahin commented on #9
@luizrrodrigues as I told, it's a but difficult problem. Because two dropdown is part of two different component and it's parent component is in community-app project. So I need two PRs to fix this problem. Please take update from both PR then test again. Thanks

[2019-06-14 11:37] nahidshahin commented on #9
@luizrrodrigues can you please increase the price a bit as it is a bit complex?

[2019-06-14 12:13] luizrrodrigues commented on #9
@nahidshahin $50 looks good? (I need request to approve prize increase)

[2019-06-14 12:20] rashmi73 commented on #13
@luizrrodrigues updating

[2019-06-14 13:33] luizrrodrigues commented on #11
@nahidshahin Please check feedback in PR #5

[2019-06-14 16:25] nahidshahin commented on #11
@luizrrodrigues this task involves added Icon + place icons appropriately. The prize seems little bit small.

[2019-06-14 16:41] luizrrodrigues commented on #11
I think is okay, second requirement is just add `padding-left: 5px`

[2019-06-14 22:56] rashmi73 commented on #16
@luizrrodrigues kindly check updated
https://github.com/topcoder-platform/navigation-component/pull/15

[2019-06-14 23:13] rashmi73 commented on #13
@luizrrodrigues updated
PR #2

[2019-06-15 04:19] luizrrodrigues commented on #12
@PrakashDurlabhji Please send a fix in next 12h, or this will be open for pickup.

Thanks.

[2019-06-15 12:14] PrakashDurlabhji commented on #12
@luizrrodrigues can u please try now
PR
https://github.com/topcoder-platform/navigation-component

[2019-06-15 14:24] #18 closed

[2019-06-15 14:25] #9 closed

[2019-06-15 14:28] luizrrodrigues commented on #18
@PrakashDurlabhji Thanks

[2019-06-15 17:42] luizrrodrigues commented on #12
@PrakashDurlabhji I'm still seeing issue in Safari, but not hover mark in left side.

Please let me know what `node` version you're using.

[2019-06-15 20:03] PrakashDurlabhji commented on #12
@luizrrodrigues i dont think it related to node version.

node version: 10.13.0

[2019-06-15 20:09] rashmi73 commented on #13
@luizrrodrigues can you please review this?

[2019-06-15 20:14] rashmi73 commented on #16
@luizrrodrigues can you please review this?

[2019-06-15 20:14] luizrrodrigues commented on #13
@rashmi73 posting feedback shortly

[2019-06-15 20:30] luizrrodrigues commented on #16
@rashmi73 Looks good, thanks.

[2019-06-15 20:32] luizrrodrigues commented on #16
@rashmi73 What is your TopCoder handle?

[2019-06-15 20:45] rashmi73 commented on #16
@luizrrodrigues rashmi73

[2019-06-15 21:02] luizrrodrigues commented on #11
@nahidshahin Please check feedback here: https://github.com/topcoder-platform/navigation-component/pull/5#pullrequestreview-250206706

[2019-06-16 02:46] #16 closed

[2019-06-16 21:29] rashmi73 commented on #13
@luizrrodrigues PR updated
PR #2

[2019-06-17 11:59] luizrrodrigues commented on #12
@PrakashDurlabhji Any status to fix Safari bug?

[2019-06-18 08:33] ya3ya6 commented on #12
@PrakashDurlabhji May i suggest using [https://www.lambdatest.com/](url) for testing in safari? it has inspector as well, so you can test your css in realtime even (instead of making your localhost available over internet)

[2019-06-18 17:44] nithyaasworld opened #36 "$40 | New Nav: Page should not reload when navigating between menus"
In the New nav, when navigating between different menus, currently the total page is getting reloaded including the nav bar.

Expected: When navigating between different menus, The top navigation bar should remain static and only the content area should get refreshed with corresponding data.

[2019-06-18 20:05] PrakashDurlabhji commented on #12
@ya3ya6 thanks a lot, will immediately check on it once my other task is completed.

[2019-06-19 03:07] luizrrodrigues commented on #11
@nahidshahin I do a double check in real device, wrong icon still showing in Android.

Check:
![image](https://user-images.githubusercontent.com/7029641/59733988-204f6f00-9226-11e9-8bda-d3eda5884dbb.png)

[2019-06-19 19:21] rashmi73 commented on #13
@luizrrodrigues PR updated
PR #2

[2019-06-19 20:35] rashmi73 commented on #13
@luizrrodrigues PR updated
PR #2

[2019-06-19 20:50] luizrrodrigues commented on #13
@rashmi73 Thanks

[2019-06-19 20:51] #13 closed

[2019-06-20 13:54] #25 closed

[2019-06-20 14:35] luizrrodrigues commented on #12
@PrakashDurlabhji Any status on this one?

[2019-06-20 14:38] luizrrodrigues commented on #11
@nahidshahin Please give me some status on this or if we can Open For Pickup

[2019-06-20 21:00] PrakashDurlabhji commented on #12
@luizrrodrigues trying it as i do not wish to lose my efforts

[2019-06-20 21:01] luizrrodrigues commented on #12
@PrakashDurlabhji Thanks

[2019-06-21 13:23] luizrrodrigues commented on #12
@PrakashDurlabhji Can open this one to pickup?

[2019-06-21 16:41] r0hit-gupta commented on #11
@luizrrodrigues I would like to pick this up. Thanks.

[2019-06-21 16:42] luizrrodrigues commented on #11
@r0hit-gupta Cool, thanks.

[2019-06-21 16:50] r0hit-gupta commented on #11
@luizrrodrigues unable to reproduce. Can you please test again in Chrome's incognito mode? The cache might be a problem.

[2019-06-21 16:52] luizrrodrigues commented on #11
@r0hit-gupta Note, this happen only in Android device

[2019-06-21 16:55] r0hit-gupta commented on #11
Yes. It looks fine to me on OnePlus 6 - Android 8.1.0. Please try again once in incognito and if its still an issue, will look deeper into it.

[2019-06-21 16:57] luizrrodrigues commented on #30
@r0hit-gupta What is your TC handle?

[2019-06-21 17:33] r0hit-gupta commented on #30
@luizrrodrigues my TC handle is https://www.topcoder.com/members/rohitgupta_

[2019-06-21 17:37] luizrrodrigues commented on #30
@r0hit-gupta Incluse underscore, right?
rohitgupta_

[2019-06-21 18:24] r0hit-gupta commented on #12
@luizrrodrigues may I pick this one up? I already have a fix for safari. Thanks.

[2019-06-21 18:26] PrakashDurlabhji commented on #12
some time else i will open

[2019-06-21 18:27] r0hit-gupta commented on #30
@luizrrodrigues yes.

[2019-06-21 18:30] PrakashDurlabhji commented on #12
@luizrrodrigues can you please try now,

https://github.com/topcoder-platform/navigation-component/pull/4

[2019-06-21 18:35] luizrrodrigues commented on #12
@PrakashDurlabhji Checking

@r0hit-gupta Hold please, checking latest PR from @PrakashDurlabhji

[2019-06-21 18:36] r0hit-gupta commented on #12
@luizrrodrigues sure. The new PR still doesn't work on Safari for me.

[2019-06-21 18:37] #30 closed

[2019-06-21 18:39] PrakashDurlabhji commented on #12
@luizrrodrigues i feel got the solution, updating it

[2019-06-21 18:46] luizrrodrigues commented on #11
@r0hit-gupta Yeah, looks like was problem with caching.

Thanks for checking.

[2019-06-21 18:50] PrakashDurlabhji commented on #12
@luizrrodrigues please try now once

[2019-06-21 19:14] r0hit-gupta commented on #12
@luizrrodrigues please let me know when I can pick this up. The latest PR still doesn't work for me.

[2019-06-21 19:23] PrakashDurlabhji commented on #12
@luizrrodrigues it is done, your suggestions are committed.

[2019-06-21 19:49] luizrrodrigues commented on #12
@PrakashDurlabhji Please run `nom run build` always when make some changes to update and commit `/dist` folder.

[2019-06-21 19:50] PrakashDurlabhji commented on #12
@luizrrodrigues kindly be online, will resolve it nowitself. we shall close this now, just need your some help of testing

[2019-06-21 20:01] luizrrodrigues commented on #12
@PrakashDurlabhji Now I able to see changes, but looks like not working.

You can't test in Safari?

@r0hit-gupta You PR will be a new one or a fix to @PrakashDurlabhji PR?

[2019-06-21 20:02] PrakashDurlabhji commented on #12
@luizrrodrigues found solution and working one, which wil work in safari for sure. One final time testing please.

[2019-06-21 20:07] PrakashDurlabhji commented on #12
@luizrrodrigues please test now

[2019-06-21 20:07] luizrrodrigues commented on #12
I'll back in 10min to test
Please check other issue assigned to you, thanks.

[2019-06-21 20:09] PrakashDurlabhji commented on #12
@luizrrodrigues sure

[2019-06-21 20:35] PrakashDurlabhji commented on #12
@luizrrodrigues working?

[2019-06-21 20:46] luizrrodrigues commented on #12
@PrakashDurlabhji Yep, just making a double check. :)

[2019-06-21 21:03] PrakashDurlabhji commented on #12
@luizrrodrigues done?

[2019-06-21 21:18] luizrrodrigues commented on #12
@PrakashDurlabhji Looks good now, thanks for all effort on this. :)

@r0hit-gupta thanks for check this

[2019-06-21 21:23] #12 closed

[2019-06-22 12:41] nahidshahin commented on #11
@luizrrodrigues sorry I was in travel. Just being curious, who has get paid?

[2019-06-22 13:36] luizrrodrigues commented on #11
Hey @nahidshahin, payment already, check:
https://www.topcoder.com/challenges/30094080/?type=develop&noncache=true&tab=details

[2019-06-22 13:36] #11 closed

[2019-06-24 18:26] luizrrodrigues commented on #35
@ya3ya6 Cool, looks good.

Request approve about raise the prize from $20 to $40.

[2019-06-24 19:19] ya3ya6 commented on #35
@luizrrodrigues Thanks.

[2019-06-24 20:33] gets0ul commented on #36
New PR without conflict is submitted. Thanks.

[2019-06-24 22:21] luizrrodrigues commented on #36
@gets0ul Thanks

[2019-06-24 22:40] luizrrodrigues commented on #35
Thanks guys
@sexta13 $75
@ya3ya6 $40

[2019-06-25 08:24] #35 closed

[2019-06-25 13:59] kkartunov opened #142 "$20 | New nav - hide white secondary menus when empty"
If some of:
- https://github.com/topcoder-platform/community-app/blob/25b95419ac4f14f36c186d6a7e04312e565a5ce4/config/default.js#L323
- https://github.com/topcoder-platform/community-app/blob/25b95419ac4f14f36c186d6a7e04312e565a5ce4/config/default.js#L308

is empty do not show the corresponding menu element/area.

[2019-06-25 19:32] nithyaasworld opened #41 "Default menu for the pages that doesnt exists in menu"
There are some pages that doesn't exist in the Navigation menu.

Examples:
1. Any member profile page other than the own profile Ex: /members/TonyJ being logged in as mess
2. Challenge details page
3. User menu --> Settings

Expected Behaviour: When such pages are accessed, we should just show the Community menu expanded with no selection indicator.

[2019-06-26 04:24] nithyaasworld commented on #41
@luizrrodrigues At 25th second, can you please remove the selection indicator that is present under the Community?

If the page is not in the menu items, lets not show any selection indicator for any of the menu items.

Thanks.

[2019-06-26 07:37] luizrrodrigues commented on #41
@nithyaasworld You sure about that?
We showing *Dashboard*, *My Profile* and *Payments* in secondary menu, so I think *Community* need be selected.
Please confirm

[2019-06-26 10:03] nithyaasworld commented on #41
Yes @luizrrodrigues

At 25th second of the video, you are in User menu -> Settings page. This screen is not part of the community menu (Dashboard or My Profile or Payments).

So its more appropriate if we do not display any selection indicator for such pages which are not present in the menus.

[2019-06-26 16:01] luizrrodrigues commented on #41
@nithyaasworld So need remove indicator and secondary menu too, right?

[2019-06-26 16:03] nithyaasworld commented on #41
Yes, right @luizrrodrigues

[2019-07-01 19:13] nithyaasworld opened #104 "$30 | New Nav: Regarding clicking on Topcoder Logo"
For V2, the logo should direct them to "my Dashboard" if they're logged in. and www.topcoder.com if they are logged out

[2019-07-01 19:35] nithyaasworld commented on #36
Hi @luizrrodrigues Can you please check this?

This issues seems to be present still, in both logged in and logged out state.

[2019-07-01 19:51] luizrrodrigues commented on #36
@nithyaasworld Yep, this working well.
Maybe you thinking about pages refresh because menu have animation and this reset in all interaction.
(Working on that)

But you can check this working in browser inspector.

[2019-07-01 19:52] nithyaasworld commented on #36
Yes, right!

Ok, I will wait for it.

[2019-07-02 11:12] nithyaasworld commented on #36
@luizrrodrigues Please also confirm the below scenario will also be handled as part of this.

Steps:
1. Go to /challenges **(without logging in)**
2. Go to Tracks --> Competitive Programming
3. Observe that the top level menus are collapsed.

![image](https://user-images.githubusercontent.com/5114190/60508533-5d1c6b00-9ce8-11e9-80e3-6f2b35a47627.png)

[2019-07-02 12:07] nithyaasworld opened #56 "New Nav: Let's collapse second level menu under the following tabs: competitive programming, data science, Statistics"
let's collapse second level menu under the following tabs: competitive programming, data science, Statistics

[2019-07-02 12:45] nithyaasworld opened #43 "New Nav: Some pages have incorrect navigation selection indicator"
1. Go to https://test-community-app.topcoder-dev.com/challenges and Login as dan_developer or any valid user
2. Click on Tracks --> Data Science --> Models and Algos
3. Check the New nav

Actual:
Selection indicator is on the "Community"

Expected:
It should be on the "Tracks"

![image](https://user-images.githubusercontent.com/5114190/60513596-4d575380-9cf5-11e9-8364-39b1d7a76c8b.png)

[2019-07-02 13:51] nithyaasworld commented on #36
@luizrrodrigues   Another Scenario for the above issue:

1. Go to /challenges (without logging in)
2. Go to Community --> Tracks
3. Observe that the top level menus are collapsed.

![image](https://user-images.githubusercontent.com/5114190/60518124-82b46f00-9cfe-11e9-8ad8-2c8b93bbda29.png)

[2019-07-10 04:38] nithyaasworld commented on #41
Thanks @luizrrodrigues

But the selection indicator is not shown if I click on any other first level menus being in one of the screens that doesn't exist in menu.

![image](https://user-images.githubusercontent.com/5114190/60940882-b3963480-a2fa-11e9-844f-ad434b22348f.png)

[2019-07-11 13:38] kkartunov opened #78 "New navi should not change body background"
To reproduce go to https://test-community-app.topcoder-dev.com/community/statistics/design compare it with original https://topcoder.com/community/statistics/design change in background color noted should not be.
**This issue triggers on any page the new navi is loaded on!**

[2019-11-06 18:05] nithyaasworld opened #51 "New Navi: Accessibility issue on the User dropdown"
1. Access the New Navigation bar present in the challenge listing page
2. Open the user dropdown menu and run the WCAG Color Contrast Checker Chrome extension

Actual:
The following 1 accessibility issue is noted.

![image](https://user-images.githubusercontent.com/5114190/68324731-fc65ca80-00ed-11ea-90da-31f0840a3939.png)

[2019-11-06 18:19] nithyaasworld opened #148 "$25 | New Navi: 'All Challenges' menu not working when user is in Review Opportunities page"
1. Go to Review Opportunities page
2. Click on Compete -> All Challenges and observe

Actual:
Not able to click on 'All challenges' sub menu.

Expected:
User should be able to click on 'All Challenges' and navigate back to Challenge listing page.

![image](https://user-images.githubusercontent.com/5114190/68325758-10aac700-00f0-11ea-80f2-de83e9f372be.png)

[2019-11-07 15:28] nithyaasworld opened #47 "$20 | Default profile image is not loaded if there is no profile pic set for the user"
Check the new navbar after logging in with a user that has no image set up in the profile

Actual:
Default image is not loaded.

![image](https://user-images.githubusercontent.com/5114190/68402772-dbf74800-01a1-11ea-9284-31117d930f52.png)

[2019-11-07 16:29] nithyaasworld opened #49 "'Switch to Business' link is not available for Customer user"
1. Go to connect.topcoder.com and create a customer user ( I created this user: PleaseIgnore pw: Jackle123$ )
2. Then go to community challenge listing page
3. Check the User dropdown menu

Actual:
Though this user is a customer user, User dropdown doesn't have 'Switch to Business' Option.

![image](https://user-images.githubusercontent.com/5114190/68407589-d43ba180-01a9-11ea-9f88-001bdd6f06a2.png

[2019-11-21 18:40] luizrrodrigues commented on #49
@nithyaasworld Moving discuss in Slack with @Oanh-and-only-Oanh here.

We going to follow this way:

- Show switch button to all members
- If have Copilot, admin, etc role . Go to Connect
- If not go to www.topcoder.com

![](https://user-images.githubusercontent.com/7029641/68440010-7b1f3e00-01a8-11ea-8f84-7b9742ff723b.png)

![](https://user-images.githubusercontent.com/7029641/68440010-7b1f3e00-0

[2019-11-21 18:58] luizrrodrigues commented on #47
Fixed PR #48

[2019-11-21 18:59] luizrrodrigues commented on #49
Fixed PR #50

[2019-11-21 21:03] luizrrodrigues commented on #51
@Oanh-and-only-Oanh @nithyaasworld
Fixed PR #52

[2019-11-27 07:11] nithyaasworld commented on #47
Verified @luizrrodrigues

@Oanh-and-only-Oanh Currently it displays the following image as default pic, but it doesn't look good :) are we okay with this?

Or can we go with default image like seen [here ](https://www.google.com/url?sa=i&url=https%3A%2F%2Ficon-library.net%2Ficon%2Fdefault-profile-icon-24.html&psig=AOvVaw2vb2wSYvQ_oxr7vnRf1jy8&ust=1574924909876000&source=images&cd=vfe&ved=0CAIQjRxq

[2019-11-27 07:20] nithyaasworld commented on #49
@luizrrodrigues
The following 2 issues are observed for Copilot user:

![image](https://user-images.githubusercontent.com/5114190/69702072-68978500-1114-11ea-9a17-610602fd3a0d.png)

[2019-11-27 08:13] nithyaasworld commented on #49
@luizrrodrigues Please ignore the above. They seem to be working. I will recheck and update.

[2019-11-27 08:36] nithyaasworld commented on #49
@luizrrodrigues @Oanh-and-only-Oanh

Customer users have the user role as 'Topcoder User'. Example: This user 'tco19customer01' has user role as 'Topcoder User', though he is a customer user.

In this case, clicking on 'Switch to Business', just takes the user to www.topcoder.com

How should we handle this?

[2019-11-27 09:31] nithyaasworld commented on #49
Also @luizrrodrigues When Lakshmi checked her account in Production (her account is admin account), it got redirected to www.topcoder.com and not to connect.topcoder.com

[2019-11-27 11:42] nithyaasworld commented on #51
Verified in beta.

No Accessibility issue is seen on User dropdown menu.

![image](https://user-images.githubusercontent.com/5114190/69720639-1ae14380-1139-11ea-8ff0-57d17225b92d.png)

[2019-11-27 12:32] nithyaasworld commented on #49
Thanks Lakshmi for helping in testing for the below roles.

@luizrrodrigues  Please find below the issues with other roles apart from the Customer-User:

**Copilot Manager** - redirects to topcoder.com when 'Switch to Business' link is clicked
**Connect Account Manager** - redirects to topcoder.com when 'Switch to Business' link is clicked

[2019-11-27 13:15] luizrrodrigues commented on #49
@nithyaasworld Thanks for check.

@Oanh-and-only-Oanh Just want to confirm, we don't will follow what have discussed in Slack early: https://github.com/topcoder-platform/navigation-component/issues/49#issuecomment-557217835

So will just redirect to Connect if user was a Copilot, all other user go to www.topcoder.com?

[2019-12-02 16:10] Oanh-and-only-Oanh commented on #49
@luizrrodrigues, correct. thanks for checking.

[2019-12-02 16:12] luizrrodrigues commented on #49
@Oanh-and-only-Oanh Okay, cool. I'll update that.

[2019-12-02 17:30] luizrrodrigues commented on #49
I'll create 2 new tickets to cover **Copilot Manager** and **Connect Account Manager**

[2019-12-02 21:48] luizrrodrigues commented on #49
@nithyaasworld Can you please share account used to test:
Copilot Manager
Connect Account Manager

[2019-12-04 04:38] lakshmiathreya commented on #49
<img width="690" alt="Screenshot 2019-11-29 at 10 17 10 AM" src="https://user-images.githubusercontent.com/51733042/70113130-01328580-167e-11ea-9a9c-784c8d4e2ce4.png">
fyi @nithyaasworld @luizrrodrigues

[2019-12-04 04:42] nithyaasworld commented on #49
Thanks @lakshmiathreya

Here is another set @luizrrodrigues

topcoderconnect+Copilot@gmail.com
topcoderconnect+Customer@gmail.com
topcoderconnect+CopilotManager@gmail.com
topcoderconnect+AccountManager@gmail.com
topcoderconnect+Manager@gmail.com
topcoderconnect+Admin@gmail.com
topcoderconnect+Observer@gmail.com

Password for all the above users: appirio123

[2019-12-04 04:55] lakshmiathreya commented on #49
@luizrrodrigues - for this Issue, my set was used. However, going forward we recommend using the topcoderconnect+* generic set since you get access to the topcoderconnect@gmail.com inbox as well - will help complete notification testing independently.

[2019-12-05 00:20] luizrrodrigues commented on #54
This one was fixed, waiting for approve of PR #55

[2019-12-05 05:30] luizrrodrigues commented on #54
@nithyaasworld This one was fixed and ready to QA

[2019-12-13 06:01] SathyaJayabal commented on #56
Verified.
<img width="1398" alt="56 logged out verification 1" src="https://user-images.githubusercontent.com/58783823/70772953-07baae80-1d9c-11ea-823c-18b71e6c9e2b.png">
<img width="1397" alt="56 verification" src="https://user-images.githubusercontent.com/58783823/70772955-08534500-1d9c-11ea-8229-363fb1012846.png">

[2019-12-13 10:01] SathyaJayabal opened #58 "Explore - > TCO : Wrong sub menu item is highlighted"
**Describe the bug**
Explore - > TCO : Wrong sub menu item is highlighted

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Explore -> TCO
2. TCO page opens in production
3. Manually edit the URL to access the tco page on beta env
https://beta-community-app.topcoder.com/community/member-programs/topcoder-open/

**Expected behavior**
1. Page should open in beta env
2. TCO sub menu must

[2019-12-14 15:34] luizrrodrigues commented on #58
This one was fixed PR https://github.com/topcoder-platform/navigation-component/pull/59

[2019-12-14 18:24] luizrrodrigues commented on #58
@Oanh-and-only-Oanh @nithyaasworld @sachin-maheshwari
This one was fixed/deployed and ready to test.

[2019-12-14 18:37] luizrrodrigues commented on #36
@nithyaasworld I think we can close this again.

[2019-12-14 18:39] luizrrodrigues commented on #41
@nithyaasworld  I think we can close this one.

[2019-12-14 18:52] Oanh-and-only-Oanh commented on #58
@luizrrodrigues, the submenu TCO has a 404 error
![image](https://user-images.githubusercontent.com/47536078/70853208-ce4b7700-1e5f-11ea-8c5a-8657d0db74e1.png)

[2019-12-14 19:00] luizrrodrigues commented on #58
@Oanh-and-only-Oanh hum. looks like was changed the TCO link:

https://www.topcoder.com/tco

not redirect to

https://www.topcoder.com/community/member-programs/topcoder-open/

This will be the new link or keep using /tco?

[2019-12-14 19:11] Oanh-and-only-Oanh commented on #58
@luizrrodrigues, please use this link https://www.topcoder.com/community/member-programs/topcoder-open/

[2019-12-14 20:00] luizrrodrigues commented on #56
@SathyaJayabal  If all good, please add QA Pass tag. Thanks.

[2019-12-15 03:23] SathyaJayabal commented on #56
I dont have access here (topcoder-platform/navigation-component) to edit the labels. @sushilshinde, can you please add me to this repository please ?

@nithyaasworld please add the QA Pass tag, as this has been verified.

[2019-12-15 05:11] SathyaJayabal commented on #58
@luizrrodrigues , Still has the issue
<img width="1401" alt="Screenshot 2019-12-15 at 10 40 06 AM" src="https://user-images.githubusercontent.com/58783823/70858391-63657300-1f27-11ea-9a2f-fed3171f4b5c.png">

[2019-12-16 08:22] lakshmiathreya commented on #49
cc @picachui

[2019-12-16 10:07] SathyaJayabal commented on #49
@luizrrodrigues
Connect Copilot Manager - redirects to topcoder.com when 'Switch to Business' link is clicked
Connect Account Manager - redirects to topcoder.com when 'Switch to Business' link is clicked

[2019-12-16 10:19] SathyaJayabal opened #61 "Blog page goes to 404 in beta env"
**Describe the bug**
Blog page goes to 404 in beta env

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Explore -> Blog

**Expected behavior**
https://beta-community-app.topcoder.com/blog should display the blog
**Screenshots**
<img width="1405" alt="Screenshot 2019-12-16 at 3 44 51 PM" src="https://user-images.githubusercontent.com/58783823/70898646-0e0a8e00-201b-11ea-876a-52cddec7c

[2019-12-16 10:20] SathyaJayabal commented on #61
cc @@lakshmiathreya

[2019-12-16 12:25] luizrrodrigues commented on #61
@SathyaJayabal Thanks for check.

Blog not available in Beta server, in Prod will redirect to:
https://www.topcoder.com/blog

[2019-12-16 12:34] #61 closed

[2019-12-16 12:52] SathyaJayabal commented on #41
@luizrrodrigues I dont see the fix. The selection indicators are still not shown for some pages.
While they appear for some pages.

[2019-12-16 13:10] SathyaJayabal opened #62 "$25 | Selection indicator is not displayed in some cases"
1. Click on Community -> Dashboard or My Profile, selection indicator disappears.
This also happens when the user is logged out and you click on Community -> Overview or How it Works

[2019-12-16 13:12] SathyaJayabal commented on #62
[selection indicator bug.mov.zip](https://github.com/topcoder-platform/navigation-component/files/3968145/selection.indicator.bug.mov.zip)

[2019-12-16 13:15] luizrrodrigues commented on #41
@SathyaJayabal Okay, I see now.
We talking about arrow indicator.

[2019-12-16 14:07] SathyaJayabal commented on #54
Verified
![IMG_5543](https://user-images.githubusercontent.com/58783823/70912808-c0058280-203a-11ea-8076-73050580d4ca.jpg)

[2019-12-16 14:10] luizrrodrigues opened #63 "$15 | 'Switch to Business' link is not redirect to Connect to Connect Copilot Manager and Connect Account Manager"
Connect Copilot Manager - redirects to topcoder.com when 'Switch to Business' link is clicked
Connect Account Manager - redirects to topcoder.com when 'Switch to Business' link is clicked

[2019-12-16 14:10] luizrrodrigues commented on #49
@SathyaJayabal The main issue reported here was fixed.

We'll cover the Copilot Manager and Account Manager her:
https://github.com/topcoder-platform/navigation-component/issues/63

[2019-12-16 14:25] SathyaJayabal commented on #49
@luizrrodrigues , Ok, closing this

[2019-12-16 14:31] SathyaJayabal commented on #56
Verified

[2019-12-16 14:36] SathyaJayabal commented on #54
Verified

[2019-12-16 14:39] SathyaJayabal commented on #36
Verified

[2019-12-16 14:42] SathyaJayabal commented on #43
verified
![Uploading Screenshot 2019-12-16 at 8.11.41 PM.png…]()

[2019-12-16 14:55] SathyaJayabal commented on #36
@luizrrodrigues the menu animation gets reset whenever we navigate between menu items in the level 1 and level 2 menus. please see the video.
[Uploading menu animation.mov.zip…]()

I am reducing the priority as this is a minor issue.

[2019-12-16 15:00] luizrrodrigues commented on #36
@SathyaJayabal Please can you open a new ticket to this one, because not related with origin issue in this ticket.

This ticket was related with page reloading issue, this was fixed.

The issue reported above is about menu animation.

Thanks.

[2019-12-16 15:04] SathyaJayabal commented on #36
@luizrrodrigues OK.

[2019-12-16 15:06] SathyaJayabal opened #64 "Menu animation gets reset"
T
[menu animation.mov.zip](https://github.com/topcoder-platform/navigation-component/files/3968663/menu.animation.mov.zip)
he menu animation gets reset whenever we navigate between menu items in the level 1 and level 2 menus. please see the video

[2019-12-16 15:30] lakshmiathreya commented on #41
cc @lakshmiathreya @nithyaasworld

[2019-12-17 05:29] SathyaJayabal commented on #58
verified in beta
<img width="1391" alt="Screenshot 2019-12-17 at 10 58 11 AM" src="https://user-images.githubusercontent.com/58783823/70967459-4f9f4580-20bc-11ea-881b-4b0bee427bd3.png">

[2019-12-17 05:47] luizrrodrigues commented on #41
@SathyaJayabal I thing we can pass this one, because the another issue reported here will follow up here: https://github.com/topcoder-platform/navigation-component/issues/62

Right?

[2019-12-17 05:48] SathyaJayabal commented on #41
Ok, I will add this example too #62

[2019-12-17 05:52] SathyaJayabal commented on #62
@luizrrodrigues,The selection indicator is also not present when the user navigates to some pages that are not on the menu.

examples:
<img width="1404" alt="Screenshot 2019-12-17 at 11 20 42 AM" src="https://user-images.githubusercontent.com/58783823/70968525-757a1980-20bf-11ea-94ae-46b21972ce66.png">
<img width="1410" alt="Screenshot 2019-12-17 at 11 21 22 AM" src="https://user-images.githubuser

[2019-12-17 10:15] SathyaJayabal commented on #43
<img width="1398" alt="Screenshot 2019-12-17 at 3 44 32 PM" src="https://user-images.githubusercontent.com/58783823/70986620-41651f80-20e4-11ea-84a9-5446808ab775.png">

[2019-12-19 12:25] SathyaJayabal opened #66 "Blog link goes to 404"
The blog link from the new nav goes to the 404 page. (https://www.topcoder.com/blog)
Refreshing the page opens the blog correctly (https://www.topcoder.com/blog/)
<img width="1396" alt="Screenshot 2019-12-19 at 5 44 59 PM" src="https://user-images.githubusercontent.com/58783823/71172852-562de880-2287-11ea-8324-a99a8625e449.png">
[Blog link.mov.zip](https://github.com/topcoder-platform/navigation-c

[2019-12-19 14:13] SathyaJayabal commented on #58
Verified in production
![Uploading Screenshot 2019-12-19 at 7.40.58 PM.png…]()

[2019-12-19 14:13] #58 closed

[2019-12-19 14:19] SathyaJayabal commented on #56
Verified in production
<img width="1437" alt="Screenshot 2019-12-19 at 7 48 09 PM" src="https://user-images.githubusercontent.com/58783823/71180630-99448780-2298-11ea-9239-41c8ed372ac2.png">
![Uploading Screenshot 2019-12-19 at 7.48.40 PM.png…]()

[2019-12-19 14:19] #56 closed

[2019-12-19 14:31] SathyaJayabal opened #67 "$30 | Selection indicator moves away when the window is resized"
Selection indicator moves away when the window is resized
<img width="1151" alt="Screenshot 2019-12-19 at 7 58 57 PM" src="https://user-images.githubusercontent.com/58783823/71181439-29cf9780-229a-11ea-96ce-ff76c009b81a.png">

cc @nithyaasworld

[2019-12-19 14:43] SathyaJayabal commented on #49
Verified in Production
<img width="1437" alt="Screenshot 2019-12-19 at 8 12 19 PM" src="https://user-images.githubusercontent.com/58783823/71182332-ec6c0980-229b-11ea-97f7-21ac87ba0a19.png">

[2019-12-19 14:43] #49 closed

[2019-12-19 14:45] SathyaJayabal commented on #43
Verified in production
<img width="1440" alt="Screenshot 2019-12-19 at 8 14 25 PM" src="https://user-images.githubusercontent.com/58783823/71182506-3523c280-229c-11ea-9068-ebeb80d8d041.png">

[2019-12-19 14:45] #43 closed

[2019-12-19 14:58] SathyaJayabal commented on #41
Verified in production
<img width="1438" alt="Screenshot 2019-12-19 at 8 28 26 PM" src="https://user-images.githubusercontent.com/58783823/71183523-250ce280-229e-11ea-860f-36d9e0f9c37c.png">

[2019-12-19 14:58] #41 closed

[2019-12-19 15:39] SathyaJayabal commented on #54
verified in production.
![29064](https://user-images.githubusercontent.com/58783823/71186768-c8142b00-22a3-11ea-9bae-c52f7776149b.jpg)

[2019-12-19 15:39] #54 closed

[2019-12-19 17:48] Oanh-and-only-Oanh opened #74 "Navi CSS over-riding contentful CSS pages"
**Describe the bug**
scroll down on any page built on /community
the nav CSS is over riding the CSS for it'

https://www.topcoder.com/community/learn

**Screenshots**
![image](https://user-images.githubusercontent.com/47536078/71196298-a20b6e00-2244-11ea-9b1c-8de2905a1106.png)

[2019-12-20 03:00] lakshmiathreya commented on #67
@SathyaJayabal @sushilshinde @Oanh-and-only-Oanh need a new milestone to track pls!

[2019-12-20 05:59] SathyaJayabal commented on #51
Verified in production
<img width="1402" alt="Screenshot 2019-12-20 at 11 28 28 AM" src="https://user-images.githubusercontent.com/58783823/71233557-f9c8d880-231b-11ea-9dc9-671de3e583ad.png">

[2019-12-20 05:59] #51 closed

[2019-12-20 07:34] kkartunov opened #68 "Component should not apply body styles"
Navi component should not apply body styles as they break multiple pages.
The component should be contained and not using such hacks: https://github.com/topcoder-platform/navigation-component/blob/5e91a32da09288cf18f79e18f10d7efe4a364ffd/src/assets/sass/style.scss#L10 leaking global styles.

The result is a gray background on:
- all Track pages
- Explore - TCO, Explore - Programs
- Thrive - all pa

[2019-12-20 07:49] kkartunov opened #69 "$35 | Navigation not working on some links"
1. When on https://www.topcoder.com/challenges click "More" -> click "Explore" -> try click on "TCO" link is not working.
2. Blog link under "More" -> click "Explore" is not working. Shows 404 error instead of the blog

Note: When you resize the browser window, and access the menu items by clicking "More", one of the level 1 menus are already selected (even though the user has not yet navigated to

[2019-12-20 08:00] lakshmiathreya commented on #68
cc @nithyaasworld @SathyaJayabal

[2019-12-20 08:05] kkartunov commented on #69
3. Actually click "More" -> click "Tracks " -> try click on "Competitive Programming" is also not working

[2019-12-20 08:06] SathyaJayabal commented on #69
@kkartunov , I cant seem to reproduce issue #1.
Which link do you mean by "More" in the challenges page?

[2019-12-20 08:07] kkartunov commented on #69
@SathyaJayabal In the navi

[2019-12-20 08:09] kkartunov opened #70 "$15 | Error on track pages"
When hitting any of the track pages error is triggered in console. Try any of:
- https://www.topcoder.com/community/qa
- https://www.topcoder.com/community/development
- https://www.topcoder.com/community/design
- https://www.topcoder.com/community/data-science
- https://www.topcoder.com/community/competitive-programming

[code]

[2019-12-20 08:10] lakshmiathreya commented on #70
@SathyaJayabal @nithyaasworld pls update label milestone and assignee

[2019-12-20 08:13] SathyaJayabal commented on #69
@kkartunov Thank you, got it.

[2019-12-20 08:31] SathyaJayabal commented on #68
Closing this as its a duplicate of
https://github.com/topcoder-platform/community-app/issues/3532

[2019-12-20 08:37] nithyaasworld commented on #69
@kkartunov Can you share the Device and Browser you are checking with?

[2019-12-20 08:43] SathyaJayabal commented on #69
another example
<img width="776" alt="Screenshot 2019-12-20 at 1 50 02 PM" src="https://user-images.githubusercontent.com/58783823/71241775-71096700-2332-11ea-90a0-46aee44e11f9.png">

[2019-12-20 15:33] SathyaJayabal commented on #62
@luizrrodrigues , one more example of the selection indicator not displayed properly

On a tab size window, when you click on more->explore->programs, the selection indicator moves from more to Community
cc @nithyaasworld
[selection indicator 62.mov.zip](https://github.com/topcoder-platform/navigation-component/files/3988947/selection.indicator.62.mov.zip)

[2019-12-23 03:07] SathyaJayabal opened #73 "Adding Member Search to the New Nav"
1. Adding member search to the new nav

[2019-12-23 18:16] kkartunov commented on #68
cc @luizrrodrigues @nithyaasworld @SathyaJayabal when will this be fixed?

[2019-12-23 18:28] luizrrodrigues commented on #68
@kkartunov We'll run a Bug Bash to all navigation issues.

But not able to new deploy until @sushilshinde back (next week)

[2020-01-03 11:45] SathyaJayabal opened #76 "Current sub menu is not highlighted in the Tracks->Data Science->Datasets page"
go to : https://www.topcoder.com/community/data-science/datasets

DATASETS menu item must be highlighted

<img width="1427" alt="Screenshot 2020-01-03 at 5 13 52 PM" src="https://user-images.githubusercontent.com/58783823/71721787-77c4cd80-2e4c-11ea-8898-bd12746523eb.png">

cc @kkartunov
@luizrrodrigues , Since this is part of the page and not the new nav, please assign it to the correct person

[2020-01-03 12:03] SathyaJayabal commented on #74
Verified in Production
<img width="1427" alt="Screenshot 2020-01-03 at 5 32 58 PM" src="https://user-images.githubusercontent.com/58783823/71722526-223df000-2e4f-11ea-964c-075da581f33d.png">

[2020-01-03 12:03] #74 closed

[2020-01-03 12:05] SathyaJayabal commented on #68
Verified in production
<img width="1427" alt="Screenshot 2020-01-03 at 5 32 58 PM" src="https://user-images.githubusercontent.com/58783823/71722596-65985e80-2e4f-11ea-961c-313418ad8969.png">

[2020-01-03 12:05] #68 closed

[2020-01-07 09:00] luizrrodrigues opened #77 "Add the Search feature from existing nav"
- We need just add like existing site, next to login/account button and show search input when hover the search icon.
- Please update search icon to white color (like menu text)
- All feature from existing search need be keep working

[2020-01-07 13:55] SathyaJayabal commented on #77
@luizrrodrigues we already have an issue for this
https://github.com/topcoder-platform/navigation-component/issues/73

[2020-01-07 14:01] luizrrodrigues commented on #77
@SathyaJayabal no sure how not found this when search.

Thanks.

[2020-01-07 14:01] luizrrodrigues commented on #77
Duplicate of #73

[2020-01-07 14:01] #77 closed

[2020-01-07 14:15] SathyaJayabal commented on #73
@luizrrodrigues, On testing the member search on beta:
Search functionality works fine. There were just a couple of minor issues.

1. Search results page is displayed in prod. The search results page does not have the new nav.
<img width="1431" alt="Screenshot 2020-01-07 at 7 33 00 PM" src="https://user-images.githubusercontent.com/58783823/71900851-a4e2ea00-3184-11ea-99b9-bb9c1717d379.png">
2. Th

[2020-01-07 20:04] luizrrodrigues commented on #78
This one was fixed in Issue #74

[2020-01-07 20:04] #78 closed

[2020-01-07 20:23] luizrrodrigues commented on #47
Update: Default icon need same like old nav.

[2020-01-07 20:28] luizrrodrigues commented on #64
This one is duplication of https://github.com/topcoder-platform/community-app/issues/2666

[2020-01-07 20:36] luizrrodrigues commented on #69
Note: This issue only happen when open menu via "More"

[2020-01-08 03:51] luizrrodrigues commented on #73
@SathyaJayabal Let me know if test is done, so we request to fix these minor issues.

cc @nithyaasworld

[2020-01-08 03:59] SathyaJayabal commented on #73
@luizrrodrigues , let me do a quick smoke test on beta and will let you know.

[2020-01-08 05:13] SathyaJayabal commented on #73
@luizrrodrigues, i dont see any other issues other than the ones mentioned above

[2020-01-08 05:44] nithyaasworld commented on #73
@luizrrodrigues Just like to add that we coulnd't verify the fix because of the issue stated in No:1 point added by Sathya here https://github.com/topcoder-platform/navigation-component/issues/73#issuecomment-571603621

Also if we change the production URL to beta URL, we get this error. Can you check once please?
![image](https://user-images.githubusercontent.com/5114190/71953360-fa140f80-3207-11

[2020-01-08 06:02] luizrrodrigues commented on #73
@nithyaasworld
1. Is like related here: https://github.com/topcoder-platform/community-app/issues/2670
Search results looks like a different app.

@sushilshinde can you confirm that?

[2020-01-08 12:55] luizrrodrigues commented on #73
Note:
1. https://github.com/appirio-tech/topcoder-app/blob/dev/app/layout/header/header.jade

[2020-01-09 15:46] rashmi73 commented on #63
@luizrrodrigues PR https://github.com/topcoder-platform/navigation-component/pull/79

[2020-01-09 15:55] rashmi73 commented on #69
@luizrrodrigues not reproducible because no such "TCO" menu present

[2020-01-09 16:01] luizrrodrigues commented on #69
@rashmi73 Try check this in Firefox or reduce the window size to show "MORE" menu item.

[2020-01-09 16:02] SathyaJayabal commented on #69
@rashmi73 look under more->explore

[2020-01-10 11:12] luizrrodrigues commented on #73
2. and 3. was fixed and deployed in Beta/Test servers.

[2020-01-10 11:29] luizrrodrigues commented on #62
@LieutenantRoger Any status on this one?

[2020-01-10 11:38] SathyaJayabal commented on #73
@luizrrodrigues, 2 and 3 looks good
<img width="1400" alt="Screenshot 2020-01-10 at 5 08 02 PM" src="https://user-images.githubusercontent.com/58783823/72150582-d26da480-33cb-11ea-8cf3-9fe8e23a43a3.png">

[2020-01-10 12:09] SathyaJayabal commented on #73
@luizrrodrigues , @sushilshinde

What do you think of the background of the search box in the mobile view?  Should it be dark? Or is this the expected design ?

<img width="558" alt="Screenshot 2020-01-10 at 5 37 52 PM" src="https://user-images.githubusercontent.com/58783823/72152133-211d3d80-33d0-11ea-85ac-35a6aec9b66e.png">

[2020-01-10 12:58] yoution commented on #67
please assign to me

[2020-01-10 13:13] yoution commented on #67
@luizrrodrigues   can not reproduce, may there are the same problem, https://github.com/topcoder-platform/community-app/issues/2407.

[2020-01-10 13:29] LieutenantRoger commented on #62
Hi @luizrrodrigues

Working on this ticket. Will submit Asap.

[2020-01-10 13:35] luizrrodrigues commented on #67
@yoution Looks like related, let me check.

[2020-01-10 13:35] luizrrodrigues commented on #67
@yoution Please feel free to work in another issue for now if wanted.

[2020-01-10 16:13] LieutenantRoger commented on #62
Hi @luizrrodrigues

Do you know how to resolve this issue ?  I only checked out the code and try to launch the community app, it used to be launchable, but I received the error like this now.

https://take.ms/WGDkv

[2020-01-10 16:20] luizrrodrigues commented on #62
What steps you followed to deploy and run app? Also you set the env vars shared in forum?

[2020-01-10 16:30] LieutenantRoger commented on #62
Never mind, I have managed to launch the necessary page. The error I posted above appears some data incomplete in the dev env.

[2020-01-10 16:31] luizrrodrigues commented on #62
You can run locally with Prod env data (is always better to me when test in my local)

[2020-01-10 16:52] LieutenantRoger commented on #62
Can you take a look like this ?  I tried use npm start to launch it in production mode, but the page seemed not able to launch ; https://take.ms/rb5VY

[2020-01-10 16:56] luizrrodrigues commented on #62
@LieutenantRoger try set port:
`export PORT=80`

[2020-01-10 17:02] LieutenantRoger commented on #62
The data seemed not load still.  I can visit TonyJ in dev but not in prod environment: https://take.ms/AL6fm

[2020-01-10 17:09] LieutenantRoger commented on #62
And in dev mode, both the my profile page and dash-board page won't load, I seemed stuck on verifying my solution

[2020-01-10 17:09] LieutenantRoger commented on #62
https://take.ms/65T7f

[2020-01-10 17:44] luizrrodrigues commented on #62
Use these step to deploy  / start:

[code]

And make sure to use `node v8.16.0`

[2020-01-10 18:02] LieutenantRoger commented on #62
I assume we can ignore the CI error ? as I didn't find a .circleci file, so not sure navigation-component should run though the CI after we made a commit.

[2020-01-10 18:03] luizrrodrigues commented on #62
@LieutenantRoger Yep, ignore this for now.

[2020-01-13 03:50] SathyaJayabal commented on #73
@luizrrodrigues , do we have a design document to refer to?

[2020-01-14 08:30] nithyaasworld opened #95 "$25 | New Nav: When the screen is resized, second level selection moves"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://test-community-app.topcoder-dev.com/challenges
2. Login
3. Click on Work -> Compete
4. All Challenges in the Second Level is selected and has a Green mark underneath it to indicate its the active section
5. Resize the window and observe the Green mark.

**Actual behavior**
Green mark moves When the screen is resized.

**Expected be

[2020-01-14 08:46] luizrrodrigues commented on #95
@yoution
- The arrow mark moving from level 2 menu to level 1
- Level 3 green mark, still moving (after move back to right position, but we looking for make this fixed)

[Screen Recording 2020-01-14 at 05.43.39.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4058147/Screen.Recording.2020-01-14.at.05.43.39.mov.zip)

[2020-01-14 08:48] codejamtc opened #96 "$25 | The current Menu selection is not shown on the IE11 and Edge"
![image](https://user-images.githubusercontent.com/42398485/59123570-2474b600-8923-11e9-9ca6-2269206c3265.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer
3. Click Menu > Work > Tracks
4. Default Competitive programming is selected

**Actual:** Current Menu selection is not shown on the IE11 and Edge

**Expected:** Should show a blue li

[2020-01-14 08:57] yoution commented on #95
I will fixed it

[2020-01-14 09:18] luizrrodrigues commented on #96
@yoution Still not working, arrow and green mark still showing in left side.

If this working in your IE11, can you please share a video showing that?

[2020-01-14 09:37] yoution commented on #96
@luizrrodrigues  wait a moment, I will record a video ,my window computer will come back after two hours

[2020-01-14 10:03] yoution commented on #95
@luizrrodrigues  the level3 green mark, must be static ?

[2020-01-14 10:19] codejamtc opened #99 "$15 | More button arrow direction issue when user expand the menu"
![image](https://user-images.githubusercontent.com/42398485/59131218-614aa800-8937-11e9-9258-929ed2a70a9e.png)

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work > More

**Actual:** Arrow still points to down

**Expected:** Arrow should point upwards https://marvelapp.com/89423f8/screen/54465717

**Reproducibilit

[2020-01-14 10:24] luizrrodrigues commented on #95
@yoution When reside, yes.

[2020-01-14 10:29] SathyaJayabal opened #100 "Member search - new nav - background colour in mobile view"
The search box for member search in the new nav should have a dark background similar to the web view.

<img width="632" alt="Screenshot 2020-01-14 at 3 57 47 PM" src="https://user-images.githubusercontent.com/58783823/72336398-be38e880-36e6-11ea-9d82-3d81ed2cf0dd.png">
<img width="1417" alt="Screenshot 2020-01-14 at 3 58 22 PM" src="https://user-images.githubusercontent.com/58783823/72336402-bed1

[2020-01-14 10:30] codejamtc opened #101 "$75 | “More” tab is not swapping position with the first element to the left of the tab"
https://www.screencast.com/t/Gr2VNvQ8

1. Open the application https://test-community-app.topcoder-dev.com/challenges
2. Login as dan_developer (Landscape)
3. Tap Menu > Work > More > Community

**Actual:** “More” tab is not swapping position with the first element to the left of the tab

**Expected:** Selecting an option from the “More” tab should become visible and swap position with the first e

[2020-01-14 10:38] luizrrodrigues commented on #101
@yoution I see the swapping, but if click in level 3 menu will swap again to original position.

Please check:

[Screen Recording 2020-01-14 at 07.35.03.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4058667/Screen.Recording.2020-01-14.at.07.35.03.mov.zip)

[2020-01-14 12:12] yoution commented on #101
@luizrrodrigues      please review

[2020-01-14 12:18] yoution commented on #101
https://github.com/topcoder-platform/navigation-component/pull/107

[2020-01-14 12:57] luizrrodrigues commented on #96
@yoution Okay

[2020-01-14 13:23] yoution commented on #95
@luizrrodrigues  https://github.com/topcoder-platform/navigation-component/pull/108
please review, sorry, I can not make the level3 green mark static, it may change a lot,
I just disable the animation when onresize, https://monosnap.com/file/JQm6w8MelhiTNKAJHby1yyyUoEeqPU, it will reduce movement effects

[2020-01-14 15:09] luizrrodrigues commented on #101
@yoution If access link directly, like:
http://local.topcoder.com/community/qa

swapping not working, still showing Community -> Compete - More

[2020-01-14 15:37] yoution commented on #101
@luizrrodrigues  https://github.com/topcoder-platform/navigation-component/pull/107
two commit , I add new commit,please review

[2020-01-14 18:10] luizrrodrigues commented on #95
@yoution Okay, thanks I'll review.

[2020-01-14 18:14] luizrrodrigues commented on #96
https://github.com/topcoder-platform/navigation-component/pull/110

[2020-01-14 18:16] luizrrodrigues commented on #104
@nahidshahin Please check feedback here: https://github.com/topcoder-platform/navigation-component/pull/92#pullrequestreview-342464132

[2020-01-14 23:37] luizrrodrigues commented on #104
@nahidshahin any status in this one?

[2020-01-15 00:16] yoution commented on #96
![image](https://user-images.githubusercontent.com/3863914/72393886-33e89700-376f-11ea-8c83-11f41d903766.png)
can you edit directly? keep the code in the red box, because ie doesnot support rect.x, so I add rect.left

[2020-01-15 02:04] luizrrodrigues commented on #96
@yoution Done. I'll review.

[2020-01-15 02:15] #73 closed

[2020-01-15 02:32] luizrrodrigues commented on #73
@SathyaJayabal I think we'll follow like desktop version colors.

You'll open a new issue followup this one?

[2020-01-15 03:45] LieutenantRoger commented on #70
MR: https://github.com/topcoder-platform/navigation-component/pull/116

[2020-01-15 03:59] SathyaJayabal commented on #73
@luizrrodrigues , yes I have.
https://github.com/topcoder-platform/navigation-component/issues/100

[2020-01-15 04:30] yoution commented on #69
@luizrrodrigues  please assign to me

[2020-01-15 05:26] yoution commented on #69
@luizrrodrigues  https://github.com/topcoder-platform/navigation-component/pull/117
please review

[2020-01-15 08:37] LieutenantRoger commented on #47
MR: https://github.com/topcoder-platform/navigation-component/pull/118

I added a profile svg file which is found from the community app repo.

[2020-01-15 08:40] LieutenantRoger commented on #47
![image](https://user-images.githubusercontent.com/2875203/72418404-bac06280-37b5-11ea-8ebd-323130b047da.png)

[2020-01-15 12:48] luizrrodrigues commented on #95
@yoution Looks like not working in Community sub nav:
https://www.screencast.com/t/lfT9iv84V

[2020-01-15 13:38] luizrrodrigues commented on #96
@yoution Looks working now, but position still no right. Show to right side.

https://www.screencast.com/t/LYXxV7XJ9

[2020-01-15 14:15] yoution commented on #95
@luizrrodrigues   please review again, thanks,  https://github.com/topcoder-platform/navigation-component/pull/120

[2020-01-15 14:41] yoution commented on #96
@luizrrodrigues  please review again, thanks https://github.com/topcoder-platform/navigation-component/pull/121

[2020-01-15 16:54] luizrrodrigues commented on #101
@yoution Looks like not working in Firefox, working well in another browsers.

[2020-01-15 16:56] luizrrodrigues commented on #104
@nahidshahin We opening this one to pickup, please reassign if you able to complete the fix.

Thanks.

[2020-01-15 19:46] luizrrodrigues commented on #69
@yoution Links working, but currently when access **Compete** submenu, will show the position to last one.

Check:
[Screen Recording 2020-01-15 at 16.35.23.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4067170/Screen.Recording.2020-01-15.at.16.35.23.mov.zip)

[2020-01-16 00:31] yoution commented on #101
@luizrrodrigues  https://monosnap.com/file/waNYOBDyc4onocBc66Y1UfDlBxyoHM
in my computer it work well

[2020-01-16 00:35] luizrrodrigues commented on #101
@yoution I'll recheck.

[2020-01-17 12:48] luizrrodrigues commented on #101
@yoution Looks good, I just redeploy from fresh repo and works well.

[2020-01-18 00:09] luizrrodrigues commented on #101
@yoution please check: https://github.com/topcoder-platform/navigation-component/pull/107#issuecomment-575841552

[2020-01-20 10:27] VanitaW opened #132 "$75 | Accessibility Issue: Cannot Access Menu Items Using Keyboard"
***Reproduction Steps:***
1. Go to https://test-community-app.topcoder-dev.com/challenges
2. Sign in with username: dan_developer  password: dantopcoder123
3. Click on 'log in'
4.  Navigate the site using only the keyboard.
5. Observe that  the navigation bar is inaccessible using the keyboard

***Expected Behavior***
To be able to navigate the menu using only the keyboard

***Actual Behavior***
N

[2020-01-20 11:01] luizrrodrigues commented on #132
@LieutenantRoger Yes looks right, but need able to access menu links via ENTER key, in your solution I'm able to navigate but if press ENTER nothing happen. (So can't access sub menu too)

[2020-01-20 14:10] luizrrodrigues commented on #136
@iversonLv Still able to click in | in menu, check:

[Screen Recording 2020-01-20 at 11.09.40.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4086542/Screen.Recording.2020-01-20.at.11.09.40.mov.zip)

[2020-01-20 14:12] nithyaasworld opened #137 "$15 | Firefox: New Navigation displays 'More' dropdown always though there is enough space to display all the items of the menu"
**Describe the bug**
Firefox: New Navigation displays 'More' dropdown always though there is enough space to display all the items of the menu

**To Reproduce**
Steps to reproduce the behavior:
1. Go to www.topcoder.com/challenges
2. Check the New Navigation

**Actual:**
'More' dropdown is always displayed regardless of the size of the screen in Firefox.

**Expected behavior**
'More' dropdown shou

[2020-01-20 15:32] iversonLv commented on #136
@luizrrodrigues Please check the update.
Ready for review
Thanks.

[2020-01-21 04:03] SathyaJayabal commented on #135
Verified in test env. See attached video

[nav zoom.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4089089/nav.zoom.mov.zip)

[2020-01-21 05:50] SathyaJayabal commented on #134
Verified in  test env. See attached video
[more.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4089354/more.mov.zip)

[2020-01-21 06:19] SathyaJayabal commented on #126
Verified in test env.
<img width="494" alt="Screenshot 2020-01-21 at 11 48 13 AM" src="https://user-images.githubusercontent.com/58783823/72780141-0f476000-3c44-11ea-8e8f-0c2032bbd056.png">

[2020-01-21 06:32] SathyaJayabal commented on #131
This issue is still happening

<img width="1438" alt="Screenshot 2020-01-21 at 12 01 34 PM" src="https://user-images.githubusercontent.com/58783823/72780830-d90ae000-3c45-11ea-8fe4-d559d6b23324.png">

[2020-01-21 06:43] SathyaJayabal commented on #47
For some users the default image is displayed correctly
<img width="488" alt="Screenshot 2020-01-21 at 12 10 35 PM" src="https://user-images.githubusercontent.com/58783823/72781353-12901b00-3c47-11ea-820e-515c91ec8295.png">

For some users the default image is a bit compressed
<img width="517" alt="Screenshot 2020-01-21 at 12 12 09 PM" src="https://user-images.githubusercontent.com/58783823/727814

[2020-01-21 06:47] nithyaasworld commented on #96
@luizrrodrigues The issue is still present. I am not seeing the selection indicator at all. can you check please?

cc: @SathyaJayabal

[2020-01-21 06:59] yoution commented on #96
@nithyaasworld   I just open with 1e 10, it's ok in my computer, is there any cache ?

![image](https://user-images.githubusercontent.com/3863914/72782409-9b668100-3c5e-11ea-99d4-bc27cfbb9f36.png)

[2020-01-21 07:23] SathyaJayabal commented on #102
Verified in Test env. Please see the attached video.
[login.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4089690/login.mov.zip)

[2020-01-21 07:35] SathyaJayabal commented on #95
The first level selection pointer position is not right on window resizing. See some examples below.
<img width="880" alt="Screenshot 2020-01-21 at 1 01 18 PM" src="https://user-images.githubusercontent.com/58783823/72784341-9a2d5800-3c4e-11ea-9b33-362b94b3ad0d.png">
<img width="829" alt="Screenshot 2020-01-21 at 12 57 47 PM" src="https://user-images.githubusercontent.com/58783823/72784342-9ac5ee8

[2020-01-21 07:42] nithyaasworld commented on #133
Verified

[2020-01-21 07:42] yoution commented on #95
@SathyaJayabal  it's ok in my computer.
https://monosnap.com/file/AYiB6AjQhOUOZg7QJm2yCDEknuhTcI

[2020-01-21 07:50] LieutenantRoger commented on #132
@luizrrodrigues  more fix is pushed here:
https://github.com/topcoder-platform/navigation-component/pull/122

[2020-01-21 07:54] SathyaJayabal commented on #130
Verified in test env.
![IMG_6557](https://user-images.githubusercontent.com/58783823/72785396-2d678d00-3c51-11ea-9c68-78f83b0ba6e3.JPG)

[2020-01-21 08:00] SathyaJayabal commented on #103
Verified in Test Env.

[2020-01-21 08:25] SathyaJayabal commented on #70
@luizrrodrigues the above error is not thrown. But for the below page

[2020-01-21 08:30] SathyaJayabal commented on #67
https://github.com/topcoder-platform/navigation-component/issues/95

Issue tracked here

[2020-01-21 08:30] #67 closed

[2020-01-21 08:44] SathyaJayabal commented on #63
Verified in test env.

[2020-01-21 08:47] SathyaJayabal opened #138 "Switch to Business Link must redirect to Connect for Connect Admin and Connect Customer Users"
Switch to Business Link must redirect to Connect for Connect Admin and Connect Customer Users. It is currently redirecting to Topcoder home page.

[2020-01-21 09:09] SathyaJayabal commented on #62
The selection indicator must not be displayed when  the user accesses a page that is not part of the menu.  example: https://www.topcoder.com/settings/profile
<img width="1424" alt="Screenshot 2020-01-21 at 2 33 42 PM" src="https://user-images.githubusercontent.com/58783823/72790221-38bfb600-3c5b-11ea-8d0a-a79b231f5cd8.png">

[2020-01-21 09:26] SathyaJayabal opened #139 "More link in nav : has duplicate menu items"
1. click on more > in the tablet view. Make sure the window size is such that "compete" "tracks" and "explore " are all under the more menu.
2. select either "tracks" or "explore" under more
3. the selected menu appears on the main nav
4. More menu now has two "compete" menu options
<img width="787" alt="Screenshot 2020-01-21 at 2 52 00 PM" src="https://user-images.githubusercontent.com/58783823/7

[2020-01-21 09:26] SathyaJayabal opened #140 "More link in nav : has duplicate menu items"
1. click on more > in the tablet view. Make sure the window size is such that "compete" "tracks" and "explore " are all under the more menu.
2. select either "tracks" or "explore" under more
3. the selected menu appears on the main nav
4. More menu now has two "compete" menu options
<img width="787" alt="Screenshot 2020-01-21 at 2 52 00 PM" src="https://user-images.githubusercontent.com/58783823/7

[2020-01-21 09:28] SathyaJayabal opened #141 "More Menu -> Duplicate menu options added"
1. click on more > in the tablet view. Make sure the window size is such that "compete" "tracks" and "explore " are all under the more menu.
2. select either "tracks" or "explore" under more
3. the selected menu appears on the main nav
4. More menu now has two "compete" menu options
<img width="787" alt="Screenshot 2020-01-21 at 2 52 00 PM" src="https://user-images.githubusercontent.com/58783823/7

[2020-01-21 09:29] SathyaJayabal commented on #140
Duplicate

[2020-01-21 09:29] #140 closed

[2020-01-21 09:29] SathyaJayabal commented on #139
Duplicate

[2020-01-21 09:29] #139 closed

[2020-01-21 10:34] SathyaJayabal commented on #141
The wrong sub menu item is highlighted in this case
<img width="870" alt="Screenshot 2020-01-21 at 3 58 04 PM" src="https://user-images.githubusercontent.com/58783823/72797730-a96ccf80-3c67-11ea-839b-976c53add7d9.png">
<img width="800" alt="Screenshot 2020-01-21 at 3 59 32 PM" src="https://user-images.githubusercontent.com/58783823/72797732-a96ccf80-3c67-11ea-988c-0127d5dfb059.png">

[2020-01-21 10:39] SathyaJayabal commented on #69
Verified in test env. Please see attached video
[more_first link.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4090603/more_first.link.mov.zip)

[2020-01-21 12:05] SathyaJayabal commented on #98
When the user switches between Portrait and Landscape modes, the user menu pop up state must be the same across both views. When you open/close the user menu popup in one view, it should reflect when you switch to the other view.

At present this does not happen. For example , user opens the popup in Portrait view, switches to Landscape view and closes the popup. When the user switches back to Por

[2020-01-21 21:23] luizrrodrigues commented on #137
@gets0ul This ready to review?

[2020-01-21 23:16] luizrrodrigues commented on #142
@gets0ul Need hide secondary menu and arrow from mobile too:

![image](https://user-images.githubusercontent.com/7029641/72851651-ef875a80-3c8a-11ea-89c4-c5486a7c9fec.png)

[2020-01-22 00:11] luizrrodrigues commented on #62
@LieutenantRoger Please check feedback above.

[2020-01-22 00:20] luizrrodrigues commented on #141
/duplicate #101

[2020-01-22 00:20] luizrrodrigues commented on #141
Duplicate of #101

[2020-01-22 00:33] luizrrodrigues commented on #132
@LieutenantRoger Now I can Press Enter , but still not able to access sub menu.

[2020-01-22 01:10] luizrrodrigues commented on #101
@yoution

Please check:

[Screen Recording 2020-01-21 at 22.07.26.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4094759/Screen.Recording.2020-01-21.at.22.07.26.mov.zip)

Same related in #141

This happen you go to same second level menu, ex.:
1) Select Tracks -> QA
2) Select Explore
3) Back to Tracks (see the issue)

[2020-01-22 01:33] yoution commented on #101
@luizrrodrigues the green indicator not show correctly when switch tab？I will check

[2020-01-22 01:50] luizrrodrigues commented on #101
Yes, Green indicator show in wrong position when follow the steps above.

[2020-01-22 02:49] SathyaJayabal commented on #141
Closing this as this is tracked in #101

[2020-01-22 02:49] #141 closed

[2020-01-22 03:34] LieutenantRoger commented on #62
Hi @luizrrodrigues  additional fix pushed to the MR: https://github.com/topcoder-platform/navigation-component/pull/85

[2020-01-22 03:47] LieutenantRoger commented on #132
Hi @luizrrodrigues  have you seen what I'm seeing ?

https://monosnap.com/file/UbBly2NmQs2ZO6ejZUZDzj0jFJEzwz

[2020-01-22 05:58] gets0ul commented on #137
@luizrrodrigues Yes, the PR has been updated

[2020-01-22 07:24] gets0ul commented on #142
@luizrrodrigues PR updated for mobile menu

[2020-01-22 11:23] LieutenantRoger commented on #70
I think the issue in `QA Phase` should fire a new bug, right ?  @luizrrodrigues @SathyaJayabal

[2020-01-22 11:52] nithyaasworld commented on #136
Verified in test env.

[2020-01-22 11:58] nithyaasworld commented on #104
Verified in Test env.

[2020-01-22 12:03] luizrrodrigues commented on #70
@LieutenantRoger Yes, sorry I miss to comment here.

@SathyaJayabal This error not related with the original issue in ticket, this is related with server response error.

I think we need to QA Pass this one.

cc @nithyaasworld

[2020-01-22 14:02] yoution commented on #101
@luizrrodrigues  please review
https://github.com/topcoder-platform/navigation-component/pull/128

[2020-01-22 21:26] luizrrodrigues commented on #132
@LieutenantRoger Let me re check this, I remember until search works same way here, but not good to sub menu. I'll recheck and let you know.

[2020-01-24 13:41] luizrrodrigues commented on #62
@LieutenantRoger Please create a new MR.

[2020-01-24 14:12] LieutenantRoger commented on #62
Ok, here it is: https://github.com/topcoder-platform/navigation-component/pull/145

I thought I have pushed the fix, looks the MR need to be re-created.

[2020-01-24 20:25] luizrrodrigues commented on #62
@LieutenantRoger Yes, because old MR was merged. :)
Thanks.

[2020-01-25 03:38] luizrrodrigues commented on #62
@LieutenantRoger Not working well:

Missing arrow:
![image](https://user-images.githubusercontent.com/7029641/73115832-caa11a80-3f0a-11ea-83ab-9ea4f4e6c436.png)

[Screen Recording 2020-01-25 at 00.38.16.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4111597/Screen.Recording.2020-01-25.at.00.38.16.mov.zip)

Showing arrow (need don't show here):
![image](https://user-images

[2020-01-25 04:51] LieutenantRoger commented on #62
Could you please rephrase the requirement ?  I'm more confusing than before.

Based on what rule, the choosing arrow should display, thanks.

[2020-01-25 14:03] luizrrodrigues commented on #62
@LieutenantRoger Based in your solution I have fixed the issue (just changed the right variables to show hide Arrow)

https://github.com/topcoder-platform/navigation-component/pull/145/commits/1db2f1d4c650f40ed5d519872bfd5dd791deac17

Thanks.

[2020-01-26 02:13] luizrrodrigues commented on #142
@gets0ul still see some issues with your approach, like still seeing arrow and in menu when submenu not exist. But based in your approach I have fixed other issues, please take a look: https://github.com/topcoder-platform/navigation-component/pull/146/files

[2020-01-26 03:00] nithyaasworld opened #147 "$25 | New Navi: 'All Challenges' menu not working when user is in Review Opportunities page"
1. Go to Review Opportunities page
2. Click on Compete -> All Challenges and observe

Actual:
Not able to click on 'All challenges' sub menu.

Expected:
User should be able to click on 'All Challenges' and navigate back to Challenge listing page.

![image](https://user-images.githubusercontent.com/5114190/68325758-10aac700-00f0-11ea-80f2-de83e9f372be.png)

[2020-01-26 03:58] LieutenantRoger commented on #62
Great, thanks.

[2020-01-27 23:52] luizrrodrigues commented on #101
@yoution Please check video bellow, issue still exist:

[Screen Recording 2020-01-27 at 20.51.36.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4119928/Screen.Recording.2020-01-27.at.20.51.36.mov.zip)

[2020-01-28 02:02] yoution commented on #101
@luizrrodrigues please review again, thanks  https://github.com/topcoder-platform/navigation-component/pull/149

[2020-01-28 02:29] luizrrodrigues commented on #101
@yoution Cool, looks good now.

[2020-01-28 13:04] SathyaJayabal commented on #148
Verified in Test env
<img width="1435" alt="Screenshot 2020-01-28 at 6 33 28 PM" src="https://user-images.githubusercontent.com/58783823/73266384-d0de1200-41fc-11ea-87d2-7e93696b63e4.png">

[2020-01-28 13:11] SathyaJayabal commented on #142
@luizrrodrigues @kkartunov How can we reproduce / test this issue ?

[2020-01-28 13:23] SathyaJayabal commented on #101
I am sorry but the issue in  #141 still happens. See video
<img width="798" alt="Screenshot 2020-01-28 at 6 42 49 PM" src="https://user-images.githubusercontent.com/58783823/73267446-18659d80-41ff-11ea-8c4f-b4d7ccd43081.png">
[more issue.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4122551/more.issue.mov.zip)

[2020-01-28 14:11] luizrrodrigues commented on #101
@yoution This happen just showing "More" button, because function will try replace menu in More with no existing out from More.

So when screen in small and just More is showing, need ignore swipe function.

Make sense?

[2020-01-28 14:24] SathyaJayabal commented on #62
This issue still exists.
https://github.com/topcoder-platform/navigation-component/issues/62#issuecomment-567965305
But I will tag it with #101  as it seems related.

[2020-01-28 14:28] luizrrodrigues commented on #62
@SathyaJayabal I think original issue was fixed here, if remain issue is related with "More" button, let close this one and track in #101

[2020-01-28 14:30] SathyaJayabal commented on #62
Yes, I am just going to mark this as pass after I have linked the issue

[2020-01-28 14:37] SathyaJayabal commented on #101
@luizrrodrigues , Please make sure this issue is also fixed.
On a tab size window, when you click on more->menu->sub menu, the selection indicator moves from more to Community
https://github.com/topcoder-platform/navigation-component/issues/62#issuecomment-567965305

[selection indicator.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4122851/selection.indicator.mov.zip)

[2020-01-28 14:37] yoution commented on #101
@luizrrodrigues  https://github.com/topcoder-platform/navigation-component/pull/150
have pushed, please review

[2020-01-28 14:58] luizrrodrigues commented on #142
@SathyaJayabal I'll add video verification here.

[2020-01-28 17:09] luizrrodrigues commented on #99
@SathyaJayabal I think this receive wrong label, I have rechecked here and working fine.

Can you recheck please?

[2020-01-28 17:19] SathyaJayabal commented on #99
@luizrrodrigues , I am sorry but I think my comment did not get updated. The spacing issue here is not fixed
https://github.com/topcoder-platform/navigation-component/issues/99#issuecomment-500695253
<img width="769" alt="Screenshot 2020-01-28 at 10 48 47 PM" src="https://user-images.githubusercontent.com/58783823/73288128-6d65db80-4220-11ea-9070-40eee4307bf1.png">

[2020-01-29 00:37] luizrrodrigues commented on #99
@SathyaJayabal oh, sorry, was my fault. I missed that.

@PrakashDurlabhji Please add space between More and arrow icon. (7px)

[2020-01-29 02:21] yoution commented on #101
@luizrrodrigues  I have pushed again, please review this one https://github.com/topcoder-platform/navigation-component/pull/151 . thanks

[2020-01-30 21:37] Oanh-and-only-Oanh opened #170 "Ability to navigate back to THRIVE homepage from an article"
**Current problem:**
Currently the way our 2nd level navigation works, you cannot re-click the page that you are on
so when someone is on an article in Thrive and they want to go to the Thrive homepage people try clicking on it and its disabled

**Expect behavior:**
If user is on a THRIVE article
URL https://www.topcoder.com/thrive/articles/  enable the ability to click THRIVE on secondary navigat

[2020-01-31 05:33] SathyaJayabal commented on #6
@bug-hunt-helper help

[2020-01-31 07:31] SathyaJayabal commented on #41
@bug-hunt-helper help

[2020-01-31 07:32] SathyaJayabal commented on #41
@bug-hunt-helper help

[2020-01-31 07:35] SathyaJayabal commented on #41
@bug-hunt-helper help

[2020-01-31 09:26] SathyaJayabal commented on #140
@bug-verification-helper help

[2020-02-01 09:54] LieutenantRoger commented on #132
Hi, how is this going ?

[2020-02-01 09:56] LieutenantRoger commented on #131
Hi, how is this ticket going ?

[2020-02-08 09:44] gets0ul commented on #142
@luizrrodrigues Why is it not getting into 'Paid' status?

@SathyaJayabal To test you need to set the submenu to be empty https://github.com/topcoder-platform/navigation-component/issues/142#issuecomment-572643345

[2020-02-08 13:34] luizrrodrigues commented on #142
@gets0ul Sorry delay here, I'll provide a video to QA team pass this one.

[2020-02-14 11:12] luizrrodrigues commented on #131
@LieutenantRoger This one was failed in QA, check feedback above.

[2020-02-14 13:18] LieutenantRoger commented on #131
Hi @luizrrodrigues

Fixed here:  https://github.com/topcoder-platform/navigation-component/pull/152

[2020-02-18 00:14] luizrrodrigues commented on #142
@SathyaJayabal Please check videos below:
https://drive.google.com/open?id=1crnhjLtmSXWLoy_MgD55x7ck4J96NKX3
https://drive.google.com/open?id=1EcLpgarPo9hX8FoDk32eKMPKUoUeljmP

[2020-02-18 03:50] SathyaJayabal commented on #142
@luizrrodrigues , thank you for the videos.

[2020-02-26 08:49] sushilshinde opened #154 "Convert this project to cicd and npm package release compatible"
**Refer to this project**
https://github.com/topcoder-platform/topcoder-react-lib

[2020-02-27 01:45] LieutenantRoger commented on #131
@luizrrodrigues  up

[2020-02-27 04:22] macs054 commented on #47
Verified on Beta

![image](https://user-images.githubusercontent.com/1199534/75411819-8666c700-595b-11ea-8b87-2d8be171f5fb.png)

[2020-02-27 04:34] macs054 commented on #62
Verified in Beta
![image](https://user-images.githubusercontent.com/1199534/75412250-dc883a00-595c-11ea-8288-c8ac02b192e2.png)
![image](https://user-images.githubusercontent.com/1199534/75412257-e447de80-595c-11ea-9225-f4953fc1c7d8.png)

[2020-02-27 04:54] macs054 commented on #69
Verified in Beta
[issue_69_beta.zip](https://github.com/topcoder-platform/navigation-component/files/4259509/issue_69_beta.zip)

[2020-02-27 05:08] macs054 commented on #70
Verified in Beta
[issue_70_beta.zip](https://github.com/topcoder-platform/navigation-component/files/4259544/issue_70_beta.zip)

[2020-02-27 05:21] macs054 commented on #102
Verified in Beta
[issue_102_beta.zip](https://github.com/topcoder-platform/navigation-component/files/4259584/issue_102_beta.zip)

[2020-02-27 05:24] macs054 commented on #97
Verified in Beta
![image](https://user-images.githubusercontent.com/1199534/75414721-7c959180-5964-11ea-822c-386943f47bc4.png)

[2020-02-27 05:29] macs054 commented on #104
Verified in Beta
[issue_104_beta.zip](https://github.com/topcoder-platform/navigation-component/files/4259604/issue_104_beta.zip)

[2020-02-27 05:38] macs054 commented on #126
Verified in Beta
![87863611_1559138320906831_7233477971669942272_n](https://user-images.githubusercontent.com/1199534/75415394-74d6ec80-5966-11ea-8cfa-5bd3f4555f02.png)

[2020-02-27 05:41] macs054 commented on #130
Verified in Beta
[issue_130_beta.zip](https://github.com/topcoder-platform/navigation-component/files/4259651/issue_130_beta.zip)

[2020-02-27 05:47] macs054 commented on #133
Verified in Beta
[issue_133_beta.zip](https://github.com/topcoder-platform/navigation-component/files/4259669/issue_133_beta.zip)

[2020-02-27 05:54] macs054 commented on #134
Verified in Beta
[issue_134_beta.zip](https://github.com/topcoder-platform/navigation-component/files/4259685/issue_134_beta.zip)

[2020-02-27 06:06] macs054 commented on #135
Verified in Beta. But it varies by screen size, at 1080p the 'More' menu does not appear in 200% and at 250% the menu turns into mobile menu. In lower screen size the 'More' menu does appear.

200%
![image](https://user-images.githubusercontent.com/1199534/75416615-b1581780-5969-11ea-99b1-8e1e024102af.png)
250%
![image](https://user-images.githubusercontent.com/1199534/75416681-f5e3b300-5969-11ea-

[2020-02-27 06:11] macs054 commented on #136
Verified in Beta
[issue_136_beta.zip](https://github.com/topcoder-platform/navigation-component/files/4259740/issue_136_beta.zip)

[2020-02-27 06:23] macs054 commented on #148
Verified in Beta
[issue_148_beta.zip](https://github.com/topcoder-platform/navigation-component/files/4259794/issue_148_beta.zip)

[2020-02-27 06:44] SathyaJayabal commented on #142
@luizrrodrigues , please confirm that this cannot be verified on beta.

[2020-02-27 06:50] macs054 commented on #103
Verified in Beta
[issue_103_beta.zip](https://github.com/topcoder-platform/navigation-component/files/4259904/issue_103_beta.zip)

[2020-02-27 07:05] macs054 commented on #101
Verified in Beta
![image](https://user-images.githubusercontent.com/1199534/75420212-7dcdbb00-5972-11ea-8c4b-54adc47aa40b.png)

[2020-02-27 08:17] SathyaJayabal commented on #63
Verified for lakshmiaCopMgr and lakshmiaAcMgr in Beta

[2020-02-27 13:02] luizrrodrigues commented on #142
@SathyaJayabal Yes, the verification need be via local env, like shared in the video.

[2020-02-27 13:45] luizrrodrigues commented on #131
@LieutenantRoger We going to push Prod release before back to remain issues.

Sorry about that, I'll keep up updated.

[2020-02-28 03:11] SathyaJayabal commented on #47
verified on prod
<img width="423" alt="Screenshot 2020-02-28 at 8 41 28 AM" src="https://user-images.githubusercontent.com/58783823/75507126-2a0cb180-5a06-11ea-9a5d-f620f7bbd3b3.png">

[2020-02-28 03:11] #47 closed

[2020-02-28 03:15] SathyaJayabal commented on #62
verified on prod
<img width="1439" alt="Screenshot 2020-02-28 at 8 44 40 AM" src="https://user-images.githubusercontent.com/58783823/75507256-98517400-5a06-11ea-9ad6-747ce7cfbee7.png">

[2020-02-28 03:15] #62 closed

[2020-02-28 03:18] SathyaJayabal commented on #69
verified on prod
<img width="801" alt="Screenshot 2020-02-28 at 8 47 38 AM" src="https://user-images.githubusercontent.com/58783823/75507434-0c8c1780-5a07-11ea-8464-fea0e579d5eb.png">

[2020-02-28 03:18] #69 closed

[2020-02-28 03:22] SathyaJayabal commented on #70
verified on prod

[2020-02-28 03:22] #70 closed

[2020-02-28 03:24] SathyaJayabal commented on #97
@macs054 , please verify and close this in production

[2020-02-28 03:28] SathyaJayabal commented on #102
verified in prod
[login.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4265137/login.mov.zip)

[2020-02-28 03:28] #102 closed

[2020-02-28 03:31] SathyaJayabal commented on #104
verified in prod
[logo.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4265148/logo.mov.zip)

[2020-02-28 03:31] #104 closed

[2020-02-28 03:33] SathyaJayabal commented on #126
verified on prod
<img width="523" alt="Screenshot 2020-02-28 at 9 02 41 AM" src="https://user-images.githubusercontent.com/58783823/75508137-27f82200-5a09-11ea-9d5e-605f84126809.png">

[2020-02-28 03:33] #126 closed

[2020-02-28 03:36] SathyaJayabal commented on #130
verified in prod
[130_prod.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4265168/130_prod.mov.zip)

[2020-02-28 03:36] #130 closed

[2020-02-28 03:37] SathyaJayabal commented on #133
@macs054 , please verify and close this in prod

[2020-02-28 03:45] SathyaJayabal commented on #134
verified in prod
[more.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4265176/more.mov.zip)

[2020-02-28 03:45] #134 closed

[2020-02-28 03:46] SathyaJayabal commented on #135
verified in prod

<img width="1436" alt="Screenshot 2020-02-28 at 9 14 36 AM" src="https://user-images.githubusercontent.com/58783823/75508663-e49eb300-5a0a-11ea-8f75-827dbe6f9378.png">
<img width="1432" alt="Screenshot 2020-02-28 at 9 14 57 AM" src="https://user-images.githubusercontent.com/58783823/75508665-e9fbfd80-5a0a-11ea-8ab4-f0916e791063.png">

[2020-02-28 03:46] #135 closed

[2020-02-28 03:49] SathyaJayabal commented on #136
verified on prod
[div.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4265190/div.mov.zip)

[2020-02-28 03:49] #136 closed

[2020-02-28 03:49] SathyaJayabal commented on #142
Cannot be verified in production.

[2020-02-28 03:49] #142 closed

[2020-02-28 03:52] SathyaJayabal commented on #148
verified in prod
<img width="1439" alt="Screenshot 2020-02-28 at 9 21 23 AM" src="https://user-images.githubusercontent.com/58783823/75508928-c38a9200-5a0b-11ea-947d-35641559e454.png">

[2020-02-28 03:52] #148 closed

[2020-02-28 03:54] SathyaJayabal commented on #103
verified in prod
[cursor.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4265206/cursor.mov.zip)

[2020-02-28 03:54] #103 closed

[2020-02-28 03:58] macs054 commented on #97
Verified in Prod
![image](https://user-images.githubusercontent.com/1199534/75509112-61d52280-5a21-11ea-89d2-57e6b9893226.png)

[2020-02-28 03:58] #97 closed

[2020-02-28 04:00] macs054 commented on #133
Verified in Prod
[issue_133_prod.zip](https://github.com/topcoder-platform/navigation-component/files/4265218/issue_133_prod.zip)

[2020-02-28 04:00] #133 closed

[2020-02-28 04:10] SathyaJayabal commented on #63
Verified for lakshmiaCopMgr and lakshmiaAcMgr in prod

[2020-02-28 04:10] #63 closed

[2020-02-29 13:06] luizrrodrigues opened #158 "Notifications - Space between bell icon and pink mark"
**Describe the bug**
1. The space between the notification icon and the pink dot seems more than the design
2. The hover state background circle is not centered.

**Expected behavior**
Need match with the design
![](https://user-images.githubusercontent.com/58783823/74900757-c3184880-53c6-11ea-895d-5a63aa969717.png)

**Screenshots**
1. ![](https://user-images.githubusercontent.com/58783823/7490069

[2020-02-29 13:08] luizrrodrigues opened #159 "Notifications - The title is not aligned correctly in mobile view"
**Describe the bug**
The notifications title is not aligned correctly in mobile view

**Expected behavior**
The notifications title need to be centered in mobile view

**Screenshots**
![](https://user-images.githubusercontent.com/58783823/74900856-0c689800-53c7-11ea-96b0-c6dc17cc7137.png)

**Smartphone (please complete the following information):**
 - Device: iPhone X
 - Browser: Safari

[2020-02-29 13:13] luizrrodrigues opened #160 "Notifications - Make "Mark All as Read" disabled if all notifications already read"
**Describe the bug**
When all notifications already read, the "Mark All as Read" link still active

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Notification Panel
2. Click on Mark All as Read
3. Note the link still active

**Expected behavior**
"Mark All as Read" need be disabled state if all notifications already read

[2020-02-29 13:36] luizrrodrigues opened #161 "Notifications - Unseen notifications counter in mobile view"
**Describe the bug**
Currently, unseen notifications counter showing all messages and in red color.

**Expected behavior**
Counter needs to show only the total of unseen notifications.
If no unseen notifications:
- Remove counter;
- Change bell color to black (like Notification text)

**Screenshots**
![](https://user-images.githubusercontent.com/47536078/74955999-4da67b00-53ba-11ea-9aa3-d0fb95a670

[2020-03-03 03:46] SathyaJayabal commented on #158
Verified in test env
<img width="86" alt="Screenshot 2020-03-03 at 9 14 20 AM" src="https://user-images.githubusercontent.com/58783823/75741099-8f76e000-5d2f-11ea-9e24-bf78b71511b6.png">
<img width="44" alt="Screenshot 2020-03-03 at 9 14 56 AM" src="https://user-images.githubusercontent.com/58783823/75741101-9140a380-5d2f-11ea-93fa-84ec8895c784.png">

[2020-03-03 03:53] SathyaJayabal commented on #161
@luizrrodrigues , the notification icon is in grey instead of black.

<img width="639" alt="Screenshot 2020-03-03 at 9 22 28 AM" src="https://user-images.githubusercontent.com/58783823/75741442-93efc880-5d30-11ea-9899-03dd3e72fa07.png">

[2020-03-03 03:57] SathyaJayabal commented on #160
verified on test
<img width="477" alt="Screenshot 2020-03-03 at 9 26 30 AM" src="https://user-images.githubusercontent.com/58783823/75741612-242e0d80-5d31-11ea-9d3c-dcd1b1984243.png">
<img width="501" alt="Screenshot 2020-03-03 at 9 26 44 AM" src="https://user-images.githubusercontent.com/58783823/75741616-255f3a80-5d31-11ea-89a6-e386b09ccd6e.png">

[2020-03-03 04:00] SathyaJayabal commented on #159
verified on test
<img width="501" alt="Screenshot 2020-03-03 at 9 26 44 AM" src="https://user-images.githubusercontent.com/58783823/75741750-9141a300-5d31-11ea-9874-c16faebe06a8.png">

[2020-03-03 04:16] Oanh-and-only-Oanh commented on #161
Thanks @SathyaJayabal.
Going to mark as Pass as this is very minor UI.

[2020-03-03 04:55] luizrrodrigues opened #162 "Notifications - Remove the completed challenges section from the popup"
Remove the completed challenges section from the popup.

So Notifications Popup will show:
- Active Challenges
- Broadcast

[2020-03-11 05:19] macs054 opened #163 "Notifications - Opening the notifications bar does not make the red dot disappear"
When clicking the bell icon the red dot should disappear when the notifications bar is opened.

[2020-03-11 07:27] SathyaJayabal commented on #163
@luizrrodrigues , This happens when a new broadcast notification is shown.
[notif.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4316570/notif.mov.zip)

[2020-03-13 21:18] luizrrodrigues commented on #163
@SathyaJayabal This one was fixed.

note: The red dot will disappear when closing the popup window or if on the listing page when navigating to a new page.

[2020-03-13 21:20] luizrrodrigues commented on #162
@SathyaJayabal This one is ready for QA

[2020-03-18 10:31] SathyaJayabal commented on #162
verified on test

[2020-03-18 10:37] SathyaJayabal commented on #163
verified on test
[Archive.zip](https://github.com/topcoder-platform/navigation-component/files/4348441/Archive.zip)

[2020-03-26 12:04] SathyaJayabal commented on #159
verified on beta (feature branch)
<img width="548" alt="Screenshot 2020-03-26 at 5 33 59 PM" src="https://user-images.githubusercontent.com/58783823/77645024-0ba7c080-6f88-11ea-919d-7c6ccbc6990f.png">

[2020-03-26 13:17] SathyaJayabal commented on #163
verified on beta(feature branch)

[2020-03-26 13:18] SathyaJayabal commented on #158
verified on beta(feature branch)
<img width="52" alt="Screenshot 2020-03-26 at 6 47 54 PM" src="https://user-images.githubusercontent.com/58783823/77651135-5c241b80-6f92-11ea-85bf-4efd27e2a166.png">
<img width="1440" alt="Screenshot 2020-03-26 at 6 26 43 PM" src="https://user-images.githubusercontent.com/58783823/77651174-67774700-6f92-11ea-9ac5-1384a56b5a02.png">

[2020-03-26 13:21] SathyaJayabal commented on #162
Verified on beta (feature  branch)
<img width="1440" alt="Screenshot 2020-03-26 at 6 26 43 PM" src="https://user-images.githubusercontent.com/58783823/77651373-b2915a00-6f92-11ea-9721-7fb66eafc8ef.png">

[2020-03-26 13:22] SathyaJayabal commented on #161
verified on beta(feature branch)
seen
<img width="499" alt="Screenshot 2020-03-26 at 6 46 12 PM" src="https://user-images.githubusercontent.com/58783823/77651436-cccb3800-6f92-11ea-9d2a-ebf049f81b1e.png">
unseen
<img width="501" alt="Screenshot 2020-03-26 at 6 27 26 PM" src="https://user-images.githubusercontent.com/58783823/77651466-d9e82700-6f92-11ea-8808-a9f288f7c8c5.png">

[2020-03-26 13:24] SathyaJayabal commented on #160
verified on beta(feature branch)
<img width="508" alt="Screenshot 2020-03-26 at 6 53 27 PM" src="https://user-images.githubusercontent.com/58783823/77651736-3cd9be00-6f93-11ea-8fd0-ad749cf90879.png">
![Uploading Screenshot 2020-03-26 at 6.53.45 PM.png…]()

[2020-03-30 08:48] SathyaJayabal commented on #159
verified on beta(develop)
<img width="502" alt="Screenshot 2020-03-30 at 1 46 07 PM" src="https://user-images.githubusercontent.com/58783823/77893241-4b74ed80-7291-11ea-81ef-52c7d2e8265a.png">

[2020-03-30 08:50] SathyaJayabal commented on #160
verified on beta(develop)
<img width="502" alt="Screenshot 2020-03-30 at 1 46 07 PM" src="https://user-images.githubusercontent.com/58783823/77893406-8119d680-7291-11ea-9b79-59927d918d15.png">
<img width="1440" alt="Screenshot 2020-03-30 at 1 55 57 PM" src="https://user-images.githubusercontent.com/58783823/77893412-82e39a00-7291-11ea-9bee-e40c3ff401b0.png">

[2020-03-30 08:51] SathyaJayabal commented on #161
verified on beta (develop)
<img width="532" alt="Screenshot 2020-03-30 at 2 20 49 PM" src="https://user-images.githubusercontent.com/58783823/77893549-b1617500-7291-11ea-9bd7-cf2c837fc114.png">

[2020-03-30 08:52] SathyaJayabal commented on #162
verified on beta(develop)
<img width="1440" alt="Screenshot 2020-03-30 at 2 18 35 PM" src="https://user-images.githubusercontent.com/58783823/77893604-c0482780-7291-11ea-956b-31d2a5d75481.png">

[2020-03-30 09:35] SathyaJayabal commented on #158
verified on beta(develop)
<img width="43" alt="Screenshot 2020-03-30 at 2 55 17 PM" src="https://user-images.githubusercontent.com/58783823/77897877-e40e6c00-7297-11ea-8457-6a6ba1222850.png">

[2020-03-30 12:40] codejamtc commented on #158
The space between the notification icon and the pink dot seems more than the design

![image](https://user-images.githubusercontent.com/42398485/77913280-996dff00-7259-11ea-8d61-88594d23fa09.png)

The hover state background circle is not centered.

![image](https://user-images.githubusercontent.com/42398485/77913266-92df8780-7259-11ea-8060-f0113ad3f71f.png)
![image](https://user-images.githubuserc

[2020-03-30 12:40] SathyaJayabal commented on #162
verified on prod
<img width="1440" alt="Screenshot 2020-03-30 at 5 53 01 PM" src="https://user-images.githubusercontent.com/58783823/77913361-bcc49880-72b1-11ea-8c7f-edd5bdee771b.png">

[2020-03-30 12:40] #162 closed

[2020-03-30 12:45] SathyaJayabal commented on #159
verified on prod
<img width="498" alt="Screenshot 2020-03-30 at 6 13 04 PM" src="https://user-images.githubusercontent.com/58783823/77913702-5ab86300-72b2-11ea-9326-39ebbdfb3193.png">

[2020-03-30 12:45] #159 closed

[2020-03-30 12:47] codejamtc commented on #163
I was able to reproduce only one here;

**1. The red dot will disappear when closing the popup window**
2. If on the listing page when navigating to a new page.

https://www.screencast.com/t/5wMAbeVznwA8

[2020-03-30 12:47] SathyaJayabal commented on #160
verified on prod
<img width="498" alt="Screenshot 2020-03-30 at 6 13 04 PM" src="https://user-images.githubusercontent.com/58783823/77913777-7e7ba900-72b2-11ea-987f-da10c33bb082.png">
<img width="1440" alt="Screenshot 2020-03-30 at 5 53 01 PM" src="https://user-images.githubusercontent.com/58783823/77913782-820f3000-72b2-11ea-857b-7095e48bdb0b.png">

[2020-03-30 12:47] #160 closed

[2020-03-30 12:49] #163 closed

[2020-03-30 12:51] #158 closed

[2020-03-30 12:52] SathyaJayabal commented on #161
<img width="505" alt="Screenshot 2020-03-30 at 6 21 52 PM" src="https://user-images.githubusercontent.com/58783823/77914306-5a6c9780-72b3-11ea-87f4-ed0e764d24e1.png">

[2020-03-30 12:54] codejamtc commented on #161
**Unseen**

![Pixel XL_ScreenShot_20200330](https://user-images.githubusercontent.com/42398485/77914464-9542e100-725b-11ea-9362-d06e7fca4db1.jpg)

**Seen**

![Pixel XL_ScreenShot_20200330_1](https://user-images.githubusercontent.com/42398485/77914423-84926b00-725b-11ea-9841-ae208edda48b.jpg)

[2020-03-30 12:55] #161 closed

[2020-04-01 04:05] SathyaJayabal opened #168 "Update nav to reflect thrive links for tracks pages"
Update nav to reflect thrive links for tracks pages

Find details here
https://github.com/topcoder-platform/community-app/issues/4125#issuecomment-606428767

[2020-04-02 08:03] Jobee1 commented on #168
When the user is not logged in, they are not pointing to the "Tracks" in the header instead it is pointing to "Community".

Attached video and screenshot for reference.

![Screenshot_42](https://user-images.githubusercontent.com/48575864/78224455-507faa00-74e8-11ea-930d-7538b179b2d9.png)

[issue.zip](https://github.com/topcoder-platform/navigation-component/files/4419590/issue.zip)

[2020-04-02 14:20] LieutenantRoger commented on #132
@luizrrodrigues  how is it going for this ticket ?

[2020-04-04 04:49] luizrrodrigues commented on #132
Hey @LieutenantRoger sorry delay here. Was working in other high priority items.
I'll check these remain issues this weekend and make sure to members paid.

[2020-04-10 03:29] sandhiyakavi commented on #168
Tested in Test Environment.Working as expected.

[#168_before_login.zip](https://github.com/topcoder-platform/navigation-component/files/4459734/168_before_login.zip)
[#168_after_login.zip](https://github.com/topcoder-platform/navigation-component/files/4459735/168_after_login.zip)

[2020-04-10 03:54] sandhiyakavi commented on #170
Tested.Working as expected.

[#170.zip](https://github.com/topcoder-platform/navigation-component/files/4459787/170.zip)

[2020-04-14 11:59] PrakashDurlabhji commented on #12
@luizrrodrigues sorry for being too late but i saw in my list that payment for this is pending, even though it is marked as paid here, but this ticket is not paid, whereas other tickets which are marked paid are actually paid, but not this one. can you confirm once again?

[2020-04-14 12:29] PrakashDurlabhji commented on #12
@luizrrodrigues apology for confusion, this ticket is paid but with different title in pacts.

 "navigation-component#12"
this is title used.

whereas I was searching for "hover state is not displayed#12"

thanks kindly ignore previous comment

[2020-04-14 19:28] luizrrodrigues commented on #12
@PrakashDurlabhji  No problem, sorry for the confusion :)

[2020-04-21 03:59] SathyaJayabal commented on #168
closed by #4260

[2020-04-21 03:59] #168 closed

[2020-04-21 04:00] SathyaJayabal commented on #170
closed by #4261

[2020-04-21 04:00] #170 closed

[2020-04-25 12:48] luizrrodrigues commented on #132
@LieutenantRoger Hey, finally I'm getting back to this one.

Please check the video to see the issue:
https://drive.google.com/file/d/1LXgrtnqPbAYRH740Snef3BJGH5nr0sHh/view?usp=sharing

In your video looks like you are able to move to submenu after the search menu, but here in Safari (Mac) after leave search menu go to the main page.

Also, the flow shared in your video not right, we need to go to

[2020-04-25 14:02] luizrrodrigues commented on #99
@PrakashDurlabhji This was paid, sorry delay here.

@SathyaJayabal Both issues was fixed and will be part of the next nav hotfix.

[2020-04-25 14:09] luizrrodrigues commented on #98
@yoution Please take a look on the feedback above and let me know if you're able to fix that.

Thanks.

[2020-06-11 08:41] kkartunov opened #175 "Navi should NOT do full reload on pages"
- Navi should use `<Link>` instead of `<a>` for menu items to avoid full reload for relative links and utilize the React router.
- For absolute links, it should be doing a full reload.

[2020-06-11 16:39] luizrrodrigues commented on #175
@kkartunov PR:
https://github.com/topcoder-platform/navigation-component/pull/176

[2020-06-11 17:15] Oanh-and-only-Oanh commented on #175
@luizrrodrigues, are you waiting for review by @sushil?

[2020-06-11 17:16] luizrrodrigues commented on #175
@Oanh-and-only-Oanh Need to run QA before merge with `develop`

[2020-06-11 20:54] kkartunov commented on #175
@luizrrodrigues it somehow has broken the "More" toggler for large menus.
![image](https://user-images.githubusercontent.com/5585002/84438215-d33a8900-ac3e-11ea-876c-d39a4762e9c4.png)

[2020-06-11 21:03] kkartunov commented on #175
@luizrrodrigues there is another bug I just found. See https://drive.google.com/file/d/1LrFeeqNSFcAGLlFou91BUw8GC0nOJKVO/view

[2020-06-15 04:18] SathyaJayabal commented on #76
Not applicable anymore

[2020-06-15 04:18] #76 closed

[2020-06-22 10:28] SathyaJayabal commented on #175
@luizrrodrigues , how do we verify this one?

[2020-06-22 11:25] SathyaJayabal commented on #175
@luizrrodrigues @kkartunov , there seems to be alignment issues in the more menu

<img width="791" alt="Screenshot 2020-06-22 at 4 39 11 PM" src="https://user-images.githubusercontent.com/58783823/85282268-169bbf80-b4a9-11ea-817b-c3cfbea2228e.png">
<img width="832" alt="Screenshot 2020-06-22 at 4 39 18 PM" src="https://user-images.githubusercontent.com/58783823/85282282-1bf90a00-b4a9-11ea-9f62-569

[2020-06-23 08:51] luizrrodrigues commented on #175
@SathyaJayabal This one needs to check on page with second level menu with relative links, like TCO page.

Alignment issue, I'll fix this shortly and push a hotfix.

[2020-06-23 12:10] kkartunov opened #177 "Add support for custom link on navi menu logo"
Scope: As per title

Example1: on https://community-app.topcoder.com/__community__/tco21 clicking on the logo should be navigating users to the TCO21 home page instead of `/my-dashboard`

Example2: on https://tco20.topcoder.com (test with logged user) clicking on the logo should be navigating users to the TCO20 home page instead of `/my-dashboard`

[2020-06-24 06:58] SathyaJayabal commented on #177
@kkartunov

tco21 site (https://community-app.topcoder-dev.com/__community__/tco21)
Logged in user - Redirects to TCO21 home as expected
Logged out user - Redirects to TCO21 home as expected

TC Community Site (https://community-app.topcoder-dev.com/challenges)
Logged in user - redirects to my Dashboard - as expected
Logged out user - redirects to topcoder homepage, as expected

tco20 site (https:

[2020-06-24 07:03] kkartunov commented on #177
@SathyaJayabal thanks.
For tco20 site (https://community-app.topcoder-dev.com/__community__/tco20/) please try now. It was not configured from Contentful side. I fixed it

[2020-06-24 07:13] SathyaJayabal commented on #177
@kkartunov , tco20 site is good now. Tco19 site is also good.
[tco20.mov.zip](https://github.com/topcoder-platform/navigation-component/files/4823724/tco20.mov.zip)

[2020-07-06 05:20] kkartunov commented on #177
@SathyaJayabal good to close this one now. Thanks.

[2020-07-06 05:22] #177 closed

[2020-09-15 15:31] sushilshinde opened #183 "Convert this repo into npm releasable package"

[2020-11-17 06:44] luizrrodrigues commented on #175
@SathyaJayabal I think this already fixed. Can you confirm please?

[2020-11-17 07:25] SathyaJayabal commented on #175
@luizrrodrigues , navigation does not reload relative links. Will track the alignment issue on more menu in a separate issue

[2020-11-17 07:25] #175 closed

[2021-09-15 16:41] AmitKunjir222 opened #186 "Issue - Inline editor marker shown"
On Header next to COMMUNITY when we click on Compete/Tracks/Explore we see line blinking as if we are typing some think even if it is an Option.
![image](https://user-images.githubusercontent.com/53404527/133474422-a76998cd-33bf-4d4f-bce9-c1d0f1ecd0c5.png)

[2021-09-17 12:22] kkartunov commented on #186
Moving this hare @AmitKunjir222

[2022-01-04 03:43] SathyaJayabal opened #193 "exclude onboarding flow for users registering form certain sources"
exclude onboarding flow for users registering form certain sources
https://github.com/topcoder-platform/navigation-component/pull/192

[2022-01-04 04:22] SathyaJayabal commented on #193
https://github.com/topcoder-platform/community-app/issues/5945#issuecomment-1004516791

[2022-01-10 13:25] SathyaJayabal commented on #193
https://github.com/topcoder-platform/community-app/issues/5945#issuecomment-1008869809

[2022-01-10 13:25] #193 closed, assigned to nobody